openapi: "3.0.3"
info:
  title: Neon API
  version: "v2"
  description: Curated Fabricate subset of Neon's official OpenAPI (https://neon.tech/api_spec/release/v2.json).
servers:
  - url: https://console.neon.tech
security:
  - bearerAuth: []
paths:
  /api/v2/projects:
    get:
      operationId: listProjects
      summary: List projects
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
      responses:
        "200":
          description: List of projects
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
    post:
      operationId: createProject
      summary: Create project
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "201":
          description: Created project
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "200":
          description: Created project
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /api/v2/projects/{project_id}:
    get:
      operationId: getProject
      summary: Retrieve project details
      parameters:
        - name: project_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Project
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "404":
          description: Not found
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
