openapi: "3.0.3"
info:
  title: Sentry API
  version: "1.0.0"
  description: Curated Fabricate subset of Sentry's official OpenAPI (https://raw.githubusercontent.com/getsentry/sentry-api-schema/main/openapi-derefed.json).
servers:
  - url: https://us.sentry.io
security:
  - bearerAuth: []
paths:
  /api/0/organizations/{organization_id_or_slug}/projects/:
    get:
      operationId: listOrganizationProjects
      summary: List organization projects
      parameters:
        - name: organization_id_or_slug
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
    post:
      operationId: createOrganizationProject
      summary: Create a project
      parameters:
        - name: organization_id_or_slug
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "201":
          description: Created
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /api/0/projects/{organization_id_or_slug}/{project_id_or_slug}/:
    get:
      operationId: getProject
      summary: Retrieve a project
      parameters:
        - name: organization_id_or_slug
          in: path
          required: true
          schema:
            type: string
        - name: project_id_or_slug
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "404":
          description: Not found
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
