openapi: "3.0.3"
info:
  title: Val Town API
  version: "1.0.0"
  description: Curated Fabricate subset of Val Town's official OpenAPI (https://api.val.town/openapi.json).
servers:
  - url: https://api.val.town
security:
  - bearerAuth: []
paths:
  /v2/vals:
    get:
      operationId: valsList2
      summary: List vals
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
    post:
      operationId: valsCreate2
      summary: Create a val
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "201":
          description: Created
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /v2/vals/{val_id}:
    get:
      operationId: valsGet2
      summary: Get a val
      parameters:
        - name: val_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "404":
          description: Not found
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
