{"openapi":"3.0.3","info":{"title":"Google Sheets API","version":"v4","description":"Converted from Google Discovery document (sheets:v4).","x-origin":{"format":"google-discovery","url":"https://sheets.googleapis.com/"}},"servers":[{"url":"https://sheets.googleapis.com"}],"paths":{"/v4/spreadsheets":{"post":{"operationId":"sheets.spreadsheets.create","summary":"Creates a spreadsheet, returning the newly created spreadsheet.","responses":{"200":{"description":"OK"}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Spreadsheet"}}}}}},"/v4/spreadsheets/{spreadsheetId}:getByDataFilter":{"post":{"operationId":"sheets.spreadsheets.getByDataFilter","summary":"Returns the spreadsheet at the given ID. The caller must specify the spreadsheet ID. For more information, see [Read, write, and search metadata](https://developers.google.com/workspace/sheets/api/gui","responses":{"200":{"description":"OK"}},"parameters":[{"name":"spreadsheetId","in":"path","required":true,"description":"The spreadsheet to request.","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetSpreadsheetByDataFilterRequest"}}}}}},"/v4/spreadsheets/{spreadsheetId}:batchUpdate":{"post":{"operationId":"sheets.spreadsheets.batchUpdate","summary":"Applies one or more updates to the spreadsheet. Each request is validated before being applied. If any request is not valid then the entire request will fail and nothing will be applied. Some requests","responses":{"200":{"description":"OK"}},"parameters":[{"name":"spreadsheetId","in":"path","required":true,"description":"The spreadsheet to apply the updates to.","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchUpdateSpreadsheetRequest"}}}}}},"/v4/spreadsheets/{spreadsheetId}":{"get":{"operationId":"sheets.spreadsheets.get","summary":"Returns the spreadsheet at the given ID. The caller must specify the spreadsheet ID. By default, data within grids is not returned. You can include grid data in one of 2 ways: * Specify a [field mask]","responses":{"200":{"description":"OK"}},"parameters":[{"name":"ranges","in":"query","required":false,"description":"The ranges to retrieve from the spreadsheet.","schema":{"type":"string"}},{"name":"spreadsheetId","in":"path","required":true,"description":"The spreadsheet to request.","schema":{"type":"string"}},{"name":"includeGridData","in":"query","required":false,"description":"True if grid data should be returned. This parameter is ignored if a field mask was set in the request.","schema":{"type":"boolean"}},{"name":"excludeTablesInBandedRanges","in":"query","required":false,"description":"True if tables should be excluded in the banded ranges. False if not set.","schema":{"type":"boolean"}}]}},"/v4/spreadsheets/{spreadsheetId}/values/{range}":{"put":{"operationId":"sheets.spreadsheets.values.update","summary":"Sets values in a range of a spreadsheet. The caller must specify the spreadsheet ID, range, and a valueInputOption.","responses":{"200":{"description":"OK"}},"parameters":[{"name":"responseDateTimeRenderOption","in":"query","required":false,"description":"Determines how dates, times, and durations in the response should be rendered. This is ignored if response_value_render_option is FORMATTED_VALUE. The default dateTime render option is SERIAL_NUMBER.","schema":{"type":"string","enum":["SERIAL_NUMBER","FORMATTED_STRING"]}},{"name":"range","in":"path","required":true,"description":"The [A1 notation](https://developers.google.com/workspace/sheets/api/guides/concepts#cell) of the values to update.","schema":{"type":"string"}},{"name":"valueInputOption","in":"query","required":false,"description":"How the input data should be interpreted.","schema":{"type":"string","enum":["INPUT_VALUE_OPTION_UNSPECIFIED","RAW","USER_ENTERED"]}},{"name":"spreadsheetId","in":"path","required":true,"description":"The ID of the spreadsheet to update.","schema":{"type":"string"}},{"name":"includeValuesInResponse","in":"query","required":false,"description":"Determines if the update response should include the values of the cells that were updated. By default, responses do not include the updated values. If the range to write was larger than the range actually written, the response includes all values in the requested range (excluding trailing empty rows and columns).","schema":{"type":"boolean"}},{"name":"responseValueRenderOption","in":"query","required":false,"description":"Determines how values in the response should be rendered. The default render option is FORMATTED_VALUE.","schema":{"type":"string","enum":["FORMATTED_VALUE","UNFORMATTED_VALUE","FORMULA"]}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValueRange"}}}}},"get":{"operationId":"sheets.spreadsheets.values.get","summary":"Returns a range of values from a spreadsheet. The caller must specify the spreadsheet ID and a range.","responses":{"200":{"description":"OK"}},"parameters":[{"name":"dateTimeRenderOption","in":"query","required":false,"description":"How dates, times, and durations should be represented in the output. This is ignored if value_render_option is FORMATTED_VALUE. The default dateTime render option is SERIAL_NUMBER.","schema":{"type":"string","enum":["SERIAL_NUMBER","FORMATTED_STRING"]}},{"name":"range","in":"path","required":true,"description":"The [A1 notation or R1C1 notation](https://developers.google.com/workspace/sheets/api/guides/concepts#cell) of the range to retrieve values from.","schema":{"type":"string"}},{"name":"spreadsheetId","in":"path","required":true,"description":"The ID of the spreadsheet to retrieve data from.","schema":{"type":"string"}},{"name":"majorDimension","in":"query","required":false,"description":"The major dimension that results should use. For example, if the spreadsheet data in Sheet1 is: `A1=1,B1=2,A2=3,B2=4`, then requesting `range=Sheet1!A1:B2?majorDimension=ROWS` returns `[[1,2],[3,4]]`, whereas requesting `range=Sheet1!A1:B2?majorDimension=COLUMNS` returns `[[1,3],[2,4]]`.","schema":{"type":"string","enum":["DIMENSION_UNSPECIFIED","ROWS","COLUMNS"]}},{"name":"valueRenderOption","in":"query","required":false,"description":"How values should be represented in the output. The default render option is FORMATTED_VALUE.","schema":{"type":"string","enum":["FORMATTED_VALUE","UNFORMATTED_VALUE","FORMULA"]}}]}},"/v4/spreadsheets/{spreadsheetId}/values:batchClear":{"post":{"operationId":"sheets.spreadsheets.values.batchClear","summary":"Clears one or more ranges of values from a spreadsheet. The caller must specify the spreadsheet ID and one or more ranges. Only values are cleared -- all other properties of the cell (such as formatti","responses":{"200":{"description":"OK"}},"parameters":[{"name":"spreadsheetId","in":"path","required":true,"description":"The ID of the spreadsheet to update.","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchClearValuesRequest"}}}}}},"/v4/spreadsheets/{spreadsheetId}/values/{range}:clear":{"post":{"operationId":"sheets.spreadsheets.values.clear","summary":"Clears values from a spreadsheet. The caller must specify the spreadsheet ID and range. Only values are cleared -- all other properties of the cell (such as formatting, data validation, etc..) are kep","responses":{"200":{"description":"OK"}},"parameters":[{"name":"range","in":"path","required":true,"description":"The [A1 notation or R1C1 notation](https://developers.google.com/workspace/sheets/api/guides/concepts#cell) of the values to clear.","schema":{"type":"string"}},{"name":"spreadsheetId","in":"path","required":true,"description":"The ID of the spreadsheet to update.","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ClearValuesRequest"}}}}}},"/v4/spreadsheets/{spreadsheetId}/values/{range}:append":{"post":{"operationId":"sheets.spreadsheets.values.append","summary":"Appends values to a spreadsheet. The input range is used to search for existing data and find a \"table\" within that range. Values will be appended to the next row of the table, starting with the first","responses":{"200":{"description":"OK"}},"parameters":[{"name":"insertDataOption","in":"query","required":false,"description":"How the input data should be inserted.","schema":{"type":"string","enum":["OVERWRITE","INSERT_ROWS"]}},{"name":"responseDateTimeRenderOption","in":"query","required":false,"description":"Determines how dates, times, and durations in the response should be rendered. This is ignored if response_value_render_option is FORMATTED_VALUE. The default dateTime render option is SERIAL_NUMBER.","schema":{"type":"string","enum":["SERIAL_NUMBER","FORMATTED_STRING"]}},{"name":"range","in":"path","required":true,"description":"The [A1 notation](https://developers.google.com/workspace/sheets/api/guides/concepts#cell) of a range to search for a logical table of data. Values are appended after the last row of the table.","schema":{"type":"string"}},{"name":"valueInputOption","in":"query","required":false,"description":"How the input data should be interpreted.","schema":{"type":"string","enum":["INPUT_VALUE_OPTION_UNSPECIFIED","RAW","USER_ENTERED"]}},{"name":"spreadsheetId","in":"path","required":true,"description":"The ID of the spreadsheet to update.","schema":{"type":"string"}},{"name":"includeValuesInResponse","in":"query","required":false,"description":"Determines if the update response should include the values of the cells that were appended. By default, responses do not include the updated values.","schema":{"type":"boolean"}},{"name":"responseValueRenderOption","in":"query","required":false,"description":"Determines how values in the response should be rendered. The default render option is FORMATTED_VALUE.","schema":{"type":"string","enum":["FORMATTED_VALUE","UNFORMATTED_VALUE","FORMULA"]}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValueRange"}}}}}},"/v4/spreadsheets/{spreadsheetId}/values:batchGetByDataFilter":{"post":{"operationId":"sheets.spreadsheets.values.batchGetByDataFilter","summary":"Returns one or more ranges of values that match the specified data filters. For more information, see [Read, write, and search metadata](https://developers.google.com/workspace/sheets/api/guides/metad","responses":{"200":{"description":"OK"}},"parameters":[{"name":"spreadsheetId","in":"path","required":true,"description":"The ID of the spreadsheet to retrieve data from.","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchGetValuesByDataFilterRequest"}}}}}},"/v4/spreadsheets/{spreadsheetId}/values:batchGet":{"get":{"operationId":"sheets.spreadsheets.values.batchGet","summary":"Returns one or more ranges of values from a spreadsheet. The caller must specify the spreadsheet ID and one or more ranges.","responses":{"200":{"description":"OK"}},"parameters":[{"name":"valueRenderOption","in":"query","required":false,"description":"How values should be represented in the output. The default render option is ValueRenderOption.FORMATTED_VALUE.","schema":{"type":"string","enum":["FORMATTED_VALUE","UNFORMATTED_VALUE","FORMULA"]}},{"name":"ranges","in":"query","required":false,"description":"The [A1 notation or R1C1 notation](https://developers.google.com/workspace/sheets/api/guides/concepts#cell) of the range to retrieve values from.","schema":{"type":"string"}},{"name":"majorDimension","in":"query","required":false,"description":"The major dimension that results should use. For example, if the spreadsheet data is: `A1=1,B1=2,A2=3,B2=4`, then requesting `ranges=[\"A1:B2\"],majorDimension=ROWS` returns `[[1,2],[3,4]]`, whereas requesting `ranges=[\"A1:B2\"],majorDimension=COLUMNS` returns `[[1,3],[2,4]]`.","schema":{"type":"string","enum":["DIMENSION_UNSPECIFIED","ROWS","COLUMNS"]}},{"name":"spreadsheetId","in":"path","required":true,"description":"The ID of the spreadsheet to retrieve data from.","schema":{"type":"string"}},{"name":"dateTimeRenderOption","in":"query","required":false,"description":"How dates, times, and durations should be represented in the output. This is ignored if value_render_option is FORMATTED_VALUE. The default dateTime render option is SERIAL_NUMBER.","schema":{"type":"string","enum":["SERIAL_NUMBER","FORMATTED_STRING"]}}]}},"/v4/spreadsheets/{spreadsheetId}/values:batchUpdate":{"post":{"operationId":"sheets.spreadsheets.values.batchUpdate","summary":"Sets values in one or more ranges of a spreadsheet. The caller must specify the spreadsheet ID, a valueInputOption, and one or more ValueRanges.","responses":{"200":{"description":"OK"}},"parameters":[{"name":"spreadsheetId","in":"path","required":true,"description":"The ID of the spreadsheet to update.","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchUpdateValuesRequest"}}}}}},"/v4/spreadsheets/{spreadsheetId}/values:batchClearByDataFilter":{"post":{"operationId":"sheets.spreadsheets.values.batchClearByDataFilter","summary":"Clears one or more ranges of values from a spreadsheet. For more information, see [Read, write, and search metadata](https://developers.google.com/workspace/sheets/api/guides/metadata). The caller mus","responses":{"200":{"description":"OK"}},"parameters":[{"name":"spreadsheetId","in":"path","required":true,"description":"The ID of the spreadsheet to update.","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchClearValuesByDataFilterRequest"}}}}}},"/v4/spreadsheets/{spreadsheetId}/values:batchUpdateByDataFilter":{"post":{"operationId":"sheets.spreadsheets.values.batchUpdateByDataFilter","summary":"Sets values in one or more ranges of a spreadsheet. For more information, see [Read, write, and search metadata](https://developers.google.com/workspace/sheets/api/guides/metadata). The caller must sp","responses":{"200":{"description":"OK"}},"parameters":[{"name":"spreadsheetId","in":"path","required":true,"description":"The ID of the spreadsheet to update.","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BatchUpdateValuesByDataFilterRequest"}}}}}},"/v4/spreadsheets/{spreadsheetId}/developerMetadata/{metadataId}":{"get":{"operationId":"sheets.spreadsheets.developerMetadata.get","summary":"Returns the developer metadata with the specified ID. The caller must specify the spreadsheet ID and the developer metadata's unique metadataId. For more information, see [Read, write, and search meta","responses":{"200":{"description":"OK"}},"parameters":[{"name":"metadataId","in":"path","required":true,"description":"The ID of the developer metadata to retrieve.","schema":{"type":"integer"}},{"name":"spreadsheetId","in":"path","required":true,"description":"The ID of the spreadsheet to retrieve metadata from.","schema":{"type":"string"}}]}},"/v4/spreadsheets/{spreadsheetId}/developerMetadata:search":{"post":{"operationId":"sheets.spreadsheets.developerMetadata.search","summary":"Returns all developer metadata matching the specified DataFilter. For more information, see [Read, write, and search metadata](https://developers.google.com/workspace/sheets/api/guides/metadata). If t","responses":{"200":{"description":"OK"}},"parameters":[{"name":"spreadsheetId","in":"path","required":true,"description":"The ID of the spreadsheet to retrieve metadata from.","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchDeveloperMetadataRequest"}}}}}},"/v4/spreadsheets/{spreadsheetId}/sheets/{sheetId}:copyTo":{"post":{"operationId":"sheets.spreadsheets.sheets.copyTo","summary":"Copies a single sheet from a spreadsheet to another spreadsheet. Returns the properties of the newly created sheet.","responses":{"200":{"description":"OK"}},"parameters":[{"name":"spreadsheetId","in":"path","required":true,"description":"The ID of the spreadsheet containing the sheet to copy.","schema":{"type":"string"}},{"name":"sheetId","in":"path","required":true,"description":"The ID of the sheet to copy.","schema":{"type":"integer"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CopySheetToAnotherSpreadsheetRequest"}}}}}}},"components":{"schemas":{"BatchGetValuesByDataFilterResponse":{"type":"object","description":"The response when retrieving more than one range of values in a spreadsheet selected by DataFilters.","properties":{"spreadsheetId":{"type":"string","description":"The ID of the spreadsheet the data was retrieved from."},"valueRanges":{"type":"array","description":"The requested values with the list of data filters that matched them.","items":{"$ref":"#/components/schemas/MatchedValueRange"}}}},"TableRowsProperties":{"type":"object","description":"The table row properties.","properties":{"secondBandColorStyle":{"$ref":"#/components/schemas/ColorStyle"},"firstBandColorStyle":{"$ref":"#/components/schemas/ColorStyle"},"footerColorStyle":{"$ref":"#/components/schemas/ColorStyle"},"headerColorStyle":{"$ref":"#/components/schemas/ColorStyle"}}},"CellData":{"type":"object","description":"Data about a specific cell.","properties":{"note":{"type":"string","description":"Any note on the cell."},"dataSourceFormula":{"$ref":"#/components/schemas/DataSourceFormula"},"chipRuns":{"type":"array","description":"Optional. Runs of chips applied to subsections of the cell. Properties of a run start at a specific index in the text and continue until the next run. When reading, all chipped and non-chipped runs are included. Non-chipped runs will have an empty Chip. When writing, only runs with chips are included. Runs containing chips are of length 1 and are represented in the user-entered text by an \u201c@\u201d placeholder symbol. New runs will overwrite any prior runs. Writing a new user_entered_value will erase previous runs.","items":{"$ref":"#/components/schemas/ChipRun"}},"effectiveFormat":{"$ref":"#/components/schemas/CellFormat"},"textFormatRuns":{"type":"array","description":"Runs of rich text applied to subsections of the cell. Runs are only valid on user entered strings, not formulas, bools, or numbers. Properties of a run start at a specific index in the text and continue until the next run. Runs will inherit the properties of the cell unless explicitly changed. When writing, the new runs will overwrite any prior runs. When writing a new user_entered_value, previous runs are erased.","items":{"$ref":"#/components/schemas/TextFormatRun"}},"effectiveValue":{"$ref":"#/components/schemas/ExtendedValue"},"dataValidation":{"$ref":"#/components/schemas/DataValidationRule"},"formattedValue":{"type":"string","description":"The formatted value of the cell. This is the value as it's shown to the user. This field is read-only."},"userEnteredValue":{"$ref":"#/components/schemas/ExtendedValue"},"dataSourceTable":{"$ref":"#/components/schemas/DataSourceTable"},"userEnteredFormat":{"$ref":"#/components/schemas/CellFormat"},"hyperlink":{"type":"string","description":"A hyperlink this cell points to, if any. If the cell contains multiple hyperlinks, this field will be empty. This field is read-only. To set it, use a `=HYPERLINK` formula in the userEnteredValue.formulaValue field. A cell-level link can also be set from the userEnteredFormat.textFormat field. Alternatively, set a hyperlink in the textFormatRun.format.link field that spans the entire cell."},"pivotTable":{"$ref":"#/components/schemas/PivotTable"}}},"AddTableResponse":{"type":"object","description":"The result of adding a table.","properties":{"table":{"$ref":"#/components/schemas/Table"}}},"DeleteDuplicatesRequest":{"type":"object","description":"Removes rows within this range that contain values in the specified columns that are duplicates of values in any previous row. Rows with identical values but different letter cases, formatting, or formulas are considered to be duplicates. This request also removes duplicate rows hidden from view (for example, due to a filter). When removing duplicates, the first instance of each duplicate row scanning from the top downwards is kept in the resulting range. Content outside of the specified range isn't removed, and rows considered duplicates do not have to be adjacent to each other in the range.","properties":{"range":{"$ref":"#/components/schemas/GridRange"},"comparisonColumns":{"type":"array","description":"The columns in the range to analyze for duplicate values. If no columns are selected then all columns are analyzed for duplicates.","items":{"$ref":"#/components/schemas/DimensionRange"}}}},"PivotGroupLimit":{"type":"object","description":"The count limit on rows or columns in the pivot group.","properties":{"applyOrder":{"type":"integer","description":"The order in which the group limit is applied to the pivot table. Pivot group limits are applied from lower to higher order number. Order numbers are normalized to consecutive integers from 0. For write request, to fully customize the applying orders, all pivot group limits should have this field set with an unique number. Otherwise, the order is determined by the index in the PivotTable.rows list and then the PivotTable.columns list.","format":"int32"},"countLimit":{"type":"integer","description":"The count limit.","format":"int32"}}},"BandingProperties":{"type":"object","description":"Properties referring a single dimension (either row or column). If both BandedRange.row_properties and BandedRange.column_properties are set, the fill colors are applied to cells according to the following rules: * header_color and footer_color take priority over band colors. * first_band_color takes priority over second_band_color. * row_properties takes priority over column_properties. For example, the first row color takes priority over the first column color, but the first column color takes priority over the second row color. Similarly, the row header takes priority over the column header in the top left cell, but the column header takes priority over the first row color if the row header is not set.","properties":{"headerColor":{"$ref":"#/components/schemas/Color"},"footerColor":{"$ref":"#/components/schemas/Color"},"secondBandColor":{"$ref":"#/components/schemas/Color"},"secondBandColorStyle":{"$ref":"#/components/schemas/ColorStyle"},"firstBandColor":{"$ref":"#/components/schemas/Color"},"firstBandColorStyle":{"$ref":"#/components/schemas/ColorStyle"},"footerColorStyle":{"$ref":"#/components/schemas/ColorStyle"},"headerColorStyle":{"$ref":"#/components/schemas/ColorStyle"}}},"UpdateValuesResponse":{"type":"object","description":"The response when updating a range of values in a spreadsheet.","properties":{"updatedRange":{"type":"string","description":"The range (in A1 notation) that updates were applied to."},"updatedCells":{"type":"integer","description":"The number of cells updated.","format":"int32"},"spreadsheetId":{"type":"string","description":"The spreadsheet the updates were applied to."},"updatedColumns":{"type":"integer","description":"The number of columns where at least one cell in the column was updated.","format":"int32"},"updatedRows":{"type":"integer","description":"The number of rows where at least one cell in the row was updated.","format":"int32"},"updatedData":{"$ref":"#/components/schemas/ValueRange"}}},"ConditionValue":{"type":"object","description":"The value of the condition.","properties":{"relativeDate":{"type":"string","description":"A relative date (based on the current date). Valid only if the type is DATE_BEFORE, DATE_AFTER, DATE_ON_OR_BEFORE or DATE_ON_OR_AFTER. Relative dates are not supported in data validation. They are supported only in conditional formatting and conditional filters.","enum":["RELATIVE_DATE_UNSPECIFIED","PAST_YEAR","PAST_MONTH","PAST_WEEK","YESTERDAY","TODAY","TOMORROW"]},"userEnteredValue":{"type":"string","description":"A value the condition is based on. The value is parsed as if the user typed into a cell. Formulas are supported (and must begin with an `=` or a '+')."}}},"BasicFilter":{"type":"object","description":"The default filter associated with a sheet. For more information, see [Manage data visibility with filters](https://developers.google.com/workspace/sheets/api/guides/filters).","properties":{"criteria":{"type":"object","description":"The criteria for showing/hiding values per column. The map's key is the column index, and the value is the criteria for that column. This field is deprecated in favor of filter_specs.","additionalProperties":{"$ref":"#/components/schemas/FilterCriteria"}},"filterSpecs":{"type":"array","description":"The filter criteria per column. Both criteria and filter_specs are populated in responses. If both fields are specified in an update request, this field takes precedence.","items":{"$ref":"#/components/schemas/FilterSpec"}},"sortSpecs":{"type":"array","description":"The sort order per column. Later specifications are used when values are equal in the earlier specifications.","items":{"$ref":"#/components/schemas/SortSpec"}},"range":{"$ref":"#/components/schemas/GridRange"},"tableId":{"type":"string","description":"The table this filter is backed by, if any. When writing, only one of range or table_id may be set."}}},"ScorecardChartSpec":{"type":"object","description":"A scorecard chart. Scorecard charts are used to highlight key performance indicators, known as KPIs, on the spreadsheet. A scorecard chart can represent things like total sales, average cost, or a top selling item. You can specify a single data value, or aggregate over a range of data. Percentage or absolute difference from a baseline value can be highlighted, like changes over time.","properties":{"keyValueFormat":{"$ref":"#/components/schemas/KeyValueFormat"},"keyValueData":{"$ref":"#/components/schemas/ChartData"},"baselineValueFormat":{"$ref":"#/components/schemas/BaselineValueFormat"},"numberFormatSource":{"type":"string","description":"The number format source used in the scorecard chart. This field is optional.","enum":["CHART_NUMBER_FORMAT_SOURCE_UNDEFINED","FROM_DATA","CUSTOM"]},"aggregateType":{"type":"string","description":"The aggregation type for key and baseline chart data in scorecard chart. This field is not supported for data source charts. Use the ChartData.aggregateType field of the key_value_data or baseline_value_data instead for data source charts. This field is optional.","enum":["CHART_AGGREGATE_TYPE_UNSPECIFIED","AVERAGE","COUNT","MAX","MEDIAN","MIN","SUM"]},"scaleFactor":{"type":"number","description":"Value to scale scorecard key and baseline value. For example, a factor of 10 can be used to divide all values in the chart by 10. This field is optional.","format":"double"},"customFormatOptions":{"$ref":"#/components/schemas/ChartCustomNumberFormatOptions"},"baselineValueData":{"$ref":"#/components/schemas/ChartData"}}},"TextFormat":{"type":"object","description":"The format of a run of text in a cell. Absent values indicate that the field isn't specified.","properties":{"strikethrough":{"type":"boolean","description":"True if the text has a strikethrough."},"fontFamily":{"type":"string","description":"The font family."},"underline":{"type":"boolean","description":"True if the text is underlined."},"bold":{"type":"boolean","description":"True if the text is bold."},"fontSize":{"type":"integer","description":"The size of the font.","format":"int32"},"foregroundColor":{"$ref":"#/components/schemas/Color"},"italic":{"type":"boolean","description":"True if the text is italicized."},"foregroundColorStyle":{"$ref":"#/components/schemas/ColorStyle"},"link":{"$ref":"#/components/schemas/Link"}}},"ChartDateTimeRule":{"type":"object","description":"Allows you to organize the date-time values in a source data column into buckets based on selected parts of their date or time values.","properties":{"type":{"type":"string","description":"The type of date-time grouping to apply.","enum":["CHART_DATE_TIME_RULE_TYPE_UNSPECIFIED","SECOND","MINUTE","HOUR","HOUR_MINUTE","HOUR_MINUTE_AMPM","DAY_OF_WEEK","DAY_OF_YEAR","DAY_OF_MONTH","DAY_MONTH","MONTH","QUARTER","YEAR","YEAR_MONTH","YEAR_QUARTER","YEAR_MONTH_DAY"]}}},"TrimWhitespaceResponse":{"type":"object","description":"The result of trimming whitespace in cells.","properties":{"cellsChangedCount":{"type":"integer","description":"The number of cells that were trimmed of whitespace.","format":"int32"}}},"AddDimensionGroupResponse":{"type":"object","description":"The result of adding a group.","properties":{"dimensionGroups":{"type":"array","description":"All groups of a dimension after adding a group to that dimension.","items":{"$ref":"#/components/schemas/DimensionGroup"}}}},"Padding":{"type":"object","description":"The amount of padding around the cell, in pixels. When updating padding, every field must be specified.","properties":{"top":{"type":"integer","description":"The top padding of the cell.","format":"int32"},"right":{"type":"integer","description":"The right padding of the cell.","format":"int32"},"bottom":{"type":"integer","description":"The bottom padding of the cell.","format":"int32"},"left":{"type":"integer","description":"The left padding of the cell.","format":"int32"}}},"TreemapChartSpec":{"type":"object","description":"A Treemap chart.","properties":{"hintedLevels":{"type":"integer","description":"The number of additional data levels beyond the labeled levels to be shown on the treemap chart. These levels are not interactive and are shown without their labels. Defaults to 0 if not specified.","format":"int32"},"levels":{"type":"integer","description":"The number of data levels to show on the treemap chart. These levels are interactive and are shown with their labels. Defaults to 2 if not specified.","format":"int32"},"maxValue":{"type":"number","description":"The maximum possible data value. Cells with values greater than this will have the same color as cells with this value. If not specified, defaults to the actual maximum value from color_data, or the maximum value from size_data if color_data is not specified.","format":"double"},"labels":{"$ref":"#/components/schemas/ChartData"},"minValue":{"type":"number","description":"The minimum possible data value. Cells with values less than this will have the same color as cells with this value. If not specified, defaults to the actual minimum value from color_data, or the minimum value from size_data if color_data is not specified.","format":"double"},"textFormat":{"$ref":"#/components/schemas/TextFormat"},"parentLabels":{"$ref":"#/components/schemas/ChartData"},"colorScale":{"$ref":"#/components/schemas/TreemapChartColorScale"},"headerColorStyle":{"$ref":"#/components/schemas/ColorStyle"},"hideTooltips":{"type":"boolean","description":"True to hide tooltips."},"sizeData":{"$ref":"#/components/schemas/ChartData"},"headerColor":{"$ref":"#/components/schemas/Color"},"colorData":{"$ref":"#/components/schemas/ChartData"}}},"AddDataSourceResponse":{"type":"object","description":"The result of adding a data source.","properties":{"dataExecutionStatus":{"$ref":"#/components/schemas/DataExecutionStatus"},"dataSource":{"$ref":"#/components/schemas/DataSource"}}},"DataSourceChartProperties":{"type":"object","description":"Properties of a data source chart.","properties":{"dataExecutionStatus":{"$ref":"#/components/schemas/DataExecutionStatus"},"dataSourceId":{"type":"string","description":"ID of the data source that the chart is associated with."}}},"UpdateFilterViewRequest":{"type":"object","description":"Updates properties of the filter view.","properties":{"filter":{"$ref":"#/components/schemas/FilterView"},"fields":{"type":"string","description":"The fields that should be updated. At least one field must be specified. The root `filter` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field.","format":"google-fieldmask"}}},"ChartSourceRange":{"type":"object","description":"Source ranges for a chart.","properties":{"sources":{"type":"array","description":"The ranges of data for a series or domain. Exactly one dimension must have a length of 1, and all sources in the list must have the same dimension with length 1. The domain (if it exists) & all series must have the same number of source ranges. If using more than one source range, then the source range at a given offset must be in order and contiguous across the domain and series. For example, these are valid configurations: domain sources: A1:A5 series1 sources: B1:B5 series2 sources: D6:D10 domain sources: A1:A5, C10:C12 series1 sources: B1:B5, D10:D12 series2 sources: C1:C5, E10:E12","items":{"$ref":"#/components/schemas/GridRange"}}}},"DataLabel":{"type":"object","description":"Settings for one set of data labels. Data labels are annotations that appear next to a set of data, such as the points on a line chart, and provide additional information about what the data represents, such as a text representation of the value behind that point on the graph.","properties":{"placement":{"type":"string","description":"The placement of the data label relative to the labeled data.","enum":["DATA_LABEL_PLACEMENT_UNSPECIFIED","CENTER","LEFT","RIGHT","ABOVE","BELOW","INSIDE_END","INSIDE_BASE","OUTSIDE_END"]},"type":{"type":"string","description":"The type of the data label.","enum":["DATA_LABEL_TYPE_UNSPECIFIED","NONE","DATA","CUSTOM"]},"customLabelData":{"$ref":"#/components/schemas/ChartData"},"textFormat":{"$ref":"#/components/schemas/TextFormat"}}},"UpdateDataSourceResponse":{"type":"object","description":"The response from updating data source.","properties":{"dataExecutionStatus":{"$ref":"#/components/schemas/DataExecutionStatus"},"dataSource":{"$ref":"#/components/schemas/DataSource"}}},"UpdateBandingRequest":{"type":"object","description":"Updates properties of the supplied banded range.","properties":{"bandedRange":{"$ref":"#/components/schemas/BandedRange"},"fields":{"type":"string","description":"The fields that should be updated. At least one field must be specified. The root `bandedRange` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field.","format":"google-fieldmask"}}},"DeleteDimensionGroupRequest":{"type":"object","description":"Deletes a group over the specified range by decrementing the depth of the dimensions in the range. For example, assume the sheet has a depth-1 group over B:E and a depth-2 group over C:D. Deleting a group over D:E leaves the sheet with a depth-1 group over B:D and a depth-2 group over C:C.","properties":{"range":{"$ref":"#/components/schemas/DimensionRange"}}},"CandlestickSeries":{"type":"object","description":"The series of a CandlestickData.","properties":{"data":{"$ref":"#/components/schemas/ChartData"}}},"WaterfallChartSeries":{"type":"object","description":"A single series of data for a waterfall chart.","properties":{"hideTrailingSubtotal":{"type":"boolean","description":"True to hide the subtotal column from the end of the series. By default, a subtotal column will appear at the end of each series. Setting this field to true will hide that subtotal column for this series."},"subtotalColumnsStyle":{"$ref":"#/components/schemas/WaterfallChartColumnStyle"},"positiveColumnsStyle":{"$ref":"#/components/schemas/WaterfallChartColumnStyle"},"negativeColumnsStyle":{"$ref":"#/components/schemas/WaterfallChartColumnStyle"},"dataLabel":{"$ref":"#/components/schemas/DataLabel"},"data":{"$ref":"#/components/schemas/ChartData"},"customSubtotals":{"type":"array","description":"Custom subtotal columns appearing in this series. The order in which subtotals are defined is not significant. Only one subtotal may be defined for each data point.","items":{"$ref":"#/components/schemas/WaterfallChartCustomSubtotal"}}}},"AddChartRequest":{"type":"object","description":"Adds a chart to a sheet in the spreadsheet.","properties":{"chart":{"$ref":"#/components/schemas/EmbeddedChart"}}},"EmbeddedObjectPosition":{"type":"object","description":"The position of an embedded object such as a chart.","properties":{"newSheet":{"type":"boolean","description":"If true, the embedded object is put on a new sheet whose ID is chosen for you. Used only when writing."},"overlayPosition":{"$ref":"#/components/schemas/OverlayPosition"},"sheetId":{"type":"integer","description":"The sheet this is on. Set only if the embedded object is on its own sheet. Must be non-negative.","format":"int32"}}},"CreateDeveloperMetadataRequest":{"type":"object","description":"A request to create developer metadata.","properties":{"developerMetadata":{"$ref":"#/components/schemas/DeveloperMetadata"}}},"EmbeddedObjectBorder":{"type":"object","description":"A border along an embedded object.","properties":{"colorStyle":{"$ref":"#/components/schemas/ColorStyle"},"color":{"$ref":"#/components/schemas/Color"}}},"BooleanCondition":{"type":"object","description":"A condition that can evaluate to true or false. BooleanConditions are used by conditional formatting, data validation, and the criteria in filters.","properties":{"type":{"type":"string","description":"The type of condition.","enum":["CONDITION_TYPE_UNSPECIFIED","NUMBER_GREATER","NUMBER_GREATER_THAN_EQ","NUMBER_LESS","NUMBER_LESS_THAN_EQ","NUMBER_EQ","NUMBER_NOT_EQ","NUMBER_BETWEEN","NUMBER_NOT_BETWEEN","TEXT_CONTAINS","TEXT_NOT_CONTAINS","TEXT_STARTS_WITH","TEXT_ENDS_WITH","TEXT_EQ","TEXT_IS_EMAIL","TEXT_IS_URL","DATE_EQ","DATE_BEFORE","DATE_AFTER","DATE_ON_OR_BEFORE","DATE_ON_OR_AFTER","DATE_BETWEEN","DATE_NOT_BETWEEN","DATE_IS_VALID","ONE_OF_RANGE","ONE_OF_LIST","BLANK","NOT_BLANK","CUSTOM_FORMULA","BOOLEAN","TEXT_NOT_EQ","DATE_NOT_EQ","FILTER_EXPRESSION"]},"values":{"type":"array","description":"The values of the condition. The number of supported values depends on the condition type. Some support zero values, others one or two values, and ConditionType.ONE_OF_LIST supports an arbitrary number of values.","items":{"$ref":"#/components/schemas/ConditionValue"}}}},"UpdateDeveloperMetadataRequest":{"type":"object","description":"A request to update properties of developer metadata. Updates the properties of the developer metadata selected by the filters to the values provided in the DeveloperMetadata resource. Callers must specify the properties they wish to update in the fields parameter, as well as specify at least one DataFilter matching the metadata they wish to update.","properties":{"dataFilters":{"type":"array","description":"The filters matching the developer metadata entries to update.","items":{"$ref":"#/components/schemas/DataFilter"}},"developerMetadata":{"$ref":"#/components/schemas/DeveloperMetadata"},"fields":{"type":"string","description":"The fields that should be updated. At least one field must be specified. The root `developerMetadata` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field.","format":"google-fieldmask"}}},"RichLinkProperties":{"type":"object","description":"Properties of a link to a Google resource (such as a file in Drive, a YouTube video, a Maps address, or a Calendar event). Only Drive files can be written as chips. All other rich link types are read only. URIs cannot exceed 2000 bytes when writing. NOTE: Writing Drive file chips requires at least one of the `drive.file`, `drive.readonly`, or `drive` OAuth scopes.","properties":{"mimeType":{"type":"string","description":"Output only. The [MIME type](https://developers.google.com/drive/api/v3/mime-types) of the link, if there's one (for example, when it's a file in Drive)."},"uri":{"type":"string","description":"Required. The URI to the link. This is always present."}}},"DuplicateFilterViewResponse":{"type":"object","description":"The result of a filter view being duplicated.","properties":{"filter":{"$ref":"#/components/schemas/FilterView"}}},"DuplicateSheetRequest":{"type":"object","description":"Duplicates the contents of a sheet.","properties":{"sourceSheetId":{"type":"integer","description":"The sheet to duplicate. If the source sheet is of DATA_SOURCE type, its backing DataSource is also duplicated and associated with the new copy of the sheet. No data execution is triggered, the grid data of this sheet is also copied over but only available after the batch request completes.","format":"int32"},"newSheetName":{"type":"string","description":"The name of the new sheet. If empty, a new name is chosen for you."},"insertSheetIndex":{"type":"integer","description":"The zero-based index where the new sheet should be inserted. The index of all sheets after this are incremented.","format":"int32"},"newSheetId":{"type":"integer","description":"If set, the ID of the new sheet. If not set, an ID is chosen. If set, the ID must not conflict with any existing sheet ID. If set, it must be non-negative.","format":"int32"}}},"FilterSpec":{"type":"object","description":"The filter criteria associated with a specific column.","properties":{"filterCriteria":{"$ref":"#/components/schemas/FilterCriteria"},"columnIndex":{"type":"integer","description":"The zero-based column index.","format":"int32"},"dataSourceColumnReference":{"$ref":"#/components/schemas/DataSourceColumnReference"}}},"SearchDeveloperMetadataResponse":{"type":"object","description":"A reply to a developer metadata search request.","properties":{"matchedDeveloperMetadata":{"type":"array","description":"The metadata matching the criteria of the search request.","items":{"$ref":"#/components/schemas/MatchedDeveloperMetadata"}}}},"ProtectedRange":{"type":"object","description":"A protected range.","properties":{"range":{"$ref":"#/components/schemas/GridRange"},"tableId":{"type":"string","description":"The table this protected range is backed by, if any. When writing, only one of range or named_range_id or table_id may be set."},"warningOnly":{"type":"boolean","description":"True if this protected range will show a warning when editing. Warning-based protection means that every user can edit data in the protected range, except editing will prompt a warning asking the user to confirm the edit. When writing: if this field is true, then editors are ignored. Additionally, if this field is changed from true to false and the `editors` field is not set (nor included in the field mask), then the editors will be set to all the editors in the document."},"protectedRangeId":{"type":"integer","description":"The ID of the protected range. This field is read-only.","format":"int32"},"namedRangeId":{"type":"string","description":"The named range this protected range is backed by, if any. When writing, only one of range or named_range_id or table_id may be set."},"unprotectedRanges":{"type":"array","description":"The list of unprotected ranges within a protected sheet. Unprotected ranges are only supported on protected sheets.","items":{"$ref":"#/components/schemas/GridRange"}},"requestingUserCanEdit":{"type":"boolean","description":"True if the user who requested this protected range can edit the protected area. This field is read-only."},"description":{"type":"string","description":"The description of this protected range."},"editors":{"$ref":"#/components/schemas/Editors"}}},"ManualRuleGroup":{"type":"object","description":"A group name and a list of items from the source data that should be placed in the group with this name.","properties":{"groupName":{"$ref":"#/components/schemas/ExtendedValue"},"items":{"type":"array","description":"The items in the source data that should be placed into this group. Each item may be a string, number, or boolean. Items may appear in at most one group within a given ManualRule. Items that do not appear in any group will appear on their own.","items":{"$ref":"#/components/schemas/ExtendedValue"}}}},"DataSourceSpec":{"type":"object","description":"This specifies the details of the data source. For example, for BigQuery, this specifies information about the BigQuery source.","properties":{"bigQuery":{"$ref":"#/components/schemas/BigQueryDataSourceSpec"},"parameters":{"type":"array","description":"The parameters of the data source, used when querying the data source.","items":{"$ref":"#/components/schemas/DataSourceParameter"}},"looker":{"$ref":"#/components/schemas/LookerDataSourceSpec"}}},"Sheet":{"type":"object","description":"A sheet in a spreadsheet.","properties":{"data":{"type":"array","description":"Data in the grid, if this is a grid sheet. The number of GridData objects returned is dependent on the number of ranges requested on this sheet. For example, if this is representing `Sheet1`, and the spreadsheet was requested with ranges `Sheet1!A1:C10` and `Sheet1!D15:E20`, then the first GridData will have a startRow/startColumn of `0`, while the second one will have `startRow 14` (zero-based row 15), and `startColumn 3` (zero-based column D). For a DATA_SOURCE sheet, you can not request a specific range, the GridData contains all the values.","items":{"$ref":"#/components/schemas/GridData"}},"conditionalFormats":{"type":"array","description":"The conditional format rules in this sheet.","items":{"$ref":"#/components/schemas/ConditionalFormatRule"}},"slicers":{"type":"array","description":"The slicers on this sheet.","items":{"$ref":"#/components/schemas/Slicer"}},"merges":{"type":"array","description":"The ranges that are merged together.","items":{"$ref":"#/components/schemas/GridRange"}},"columnGroups":{"type":"array","description":"All column groups on this sheet, ordered by increasing range start index, then by group depth.","items":{"$ref":"#/components/schemas/DimensionGroup"}},"developerMetadata":{"type":"array","description":"The developer metadata associated with a sheet.","items":{"$ref":"#/components/schemas/DeveloperMetadata"}},"basicFilter":{"$ref":"#/components/schemas/BasicFilter"},"tables":{"type":"array","description":"The tables on this sheet.","items":{"$ref":"#/components/schemas/Table"}},"properties":{"$ref":"#/components/schemas/SheetProperties"},"filterViews":{"type":"array","description":"The filter views in this sheet.","items":{"$ref":"#/components/schemas/FilterView"}},"rowGroups":{"type":"array","description":"All row groups on this sheet, ordered by increasing range start index, then by group depth.","items":{"$ref":"#/components/schemas/DimensionGroup"}},"protectedRanges":{"type":"array","description":"The protected ranges in this sheet.","items":{"$ref":"#/components/schemas/ProtectedRange"}},"charts":{"type":"array","description":"The specifications of every chart on this sheet.","items":{"$ref":"#/components/schemas/EmbeddedChart"}},"bandedRanges":{"type":"array","description":"The banded (alternating colors) ranges on this sheet.","items":{"$ref":"#/components/schemas/BandedRange"}}}},"SlicerSpec":{"type":"object","description":"The specifications of a slicer.","properties":{"backgroundColor":{"$ref":"#/components/schemas/Color"},"horizontalAlignment":{"type":"string","description":"The horizontal alignment of title in the slicer. If unspecified, defaults to `LEFT`","enum":["HORIZONTAL_ALIGN_UNSPECIFIED","LEFT","CENTER","RIGHT"]},"filterCriteria":{"$ref":"#/components/schemas/FilterCriteria"},"backgroundColorStyle":{"$ref":"#/components/schemas/ColorStyle"},"title":{"type":"string","description":"The title of the slicer."},"dataRange":{"$ref":"#/components/schemas/GridRange"},"columnIndex":{"type":"integer","description":"The zero-based column index in the data table on which the filter is applied to.","format":"int32"},"applyToPivotTables":{"type":"boolean","description":"True if the filter should apply to pivot tables. If not set, default to `True`."},"textFormat":{"$ref":"#/components/schemas/TextFormat"}}},"BatchGetValuesResponse":{"type":"object","description":"The response when retrieving more than one range of values in a spreadsheet.","properties":{"spreadsheetId":{"type":"string","description":"The ID of the spreadsheet the data was retrieved from."},"valueRanges":{"type":"array","description":"The requested values. The order of the ValueRanges is the same as the order of the requested ranges.","items":{"$ref":"#/components/schemas/ValueRange"}}}},"DeleteDuplicatesResponse":{"type":"object","description":"The result of removing duplicates in a range.","properties":{"duplicatesRemovedCount":{"type":"integer","description":"The number of duplicate rows removed.","format":"int32"}}},"ThemeColorPair":{"type":"object","description":"A pair mapping a spreadsheet theme color type to the concrete color it represents.","properties":{"colorType":{"type":"string","description":"The type of the spreadsheet theme color.","enum":["THEME_COLOR_TYPE_UNSPECIFIED","TEXT","BACKGROUND","ACCENT1","ACCENT2","ACCENT3","ACCENT4","ACCENT5","ACCENT6","LINK"]},"color":{"$ref":"#/components/schemas/ColorStyle"}}},"AddProtectedRangeRequest":{"type":"object","description":"Adds a new protected range.","properties":{"protectedRange":{"$ref":"#/components/schemas/ProtectedRange"}}},"Slicer":{"type":"object","description":"A slicer in a sheet.","properties":{"spec":{"$ref":"#/components/schemas/SlicerSpec"},"slicerId":{"type":"integer","description":"The ID of the slicer.","format":"int32"},"position":{"$ref":"#/components/schemas/EmbeddedObjectPosition"}}},"AddNamedRangeResponse":{"type":"object","description":"The result of adding a named range.","properties":{"namedRange":{"$ref":"#/components/schemas/NamedRange"}}},"DeleteConditionalFormatRuleRequest":{"type":"object","description":"Deletes a conditional format rule at the given index. All subsequent rules' indexes are decremented.","properties":{"sheetId":{"type":"integer","description":"The sheet the rule is being deleted from.","format":"int32"},"index":{"type":"integer","description":"The zero-based index of the rule to be deleted.","format":"int32"}}},"PivotValue":{"type":"object","description":"The definition of how a value in a pivot table should be calculated.","properties":{"calculatedDisplayType":{"type":"string","description":"If specified, indicates that pivot values should be displayed as the result of a calculation with another pivot value. For example, if calculated_display_type is specified as PERCENT_OF_GRAND_TOTAL, all the pivot values are displayed as the percentage of the grand total. In the Sheets editor, this is referred to as \"Show As\" in the value section of a pivot table.","enum":["PIVOT_VALUE_CALCULATED_DISPLAY_TYPE_UNSPECIFIED","PERCENT_OF_ROW_TOTAL","PERCENT_OF_COLUMN_TOTAL","PERCENT_OF_GRAND_TOTAL"]},"formula":{"type":"string","description":"A custom formula to calculate the value. The formula must start with an `=` character."},"summarizeFunction":{"type":"string","description":"A function to summarize the value. If formula is set, the only supported values are SUM and CUSTOM. If sourceColumnOffset is set, then `CUSTOM` is not supported.","enum":["PIVOT_STANDARD_VALUE_FUNCTION_UNSPECIFIED","SUM","COUNTA","COUNT","COUNTUNIQUE","AVERAGE","MAX","MIN","MEDIAN","PRODUCT","STDEV","STDEVP","VAR","VARP","CUSTOM","NONE"]},"dataSourceColumnReference":{"$ref":"#/components/schemas/DataSourceColumnReference"},"name":{"type":"string","description":"A name to use for the value."},"sourceColumnOffset":{"type":"integer","description":"The column offset of the source range that this value reads from. For example, if the source was `C10:E15`, a `sourceColumnOffset` of `0` means this value refers to column `C`, whereas the offset `1` would refer to column `D`.","format":"int32"}}},"AddDimensionGroupRequest":{"type":"object","description":"Creates a group over the specified range. If the requested range is a superset of the range of an existing group G, then the depth of G is incremented and this new group G' has the depth of that group. For example, a group [C:D, depth 1] + [B:E] results in groups [B:E, depth 1] and [C:D, depth 2]. If the requested range is a subset of the range of an existing group G, then the depth of the new group G' becomes one greater than the depth of G. For example, a group [B:E, depth 1] + [C:D] results in groups [B:E, depth 1] and [C:D, depth 2]. If the requested range starts before and ends within, or starts within and ends after, the range of an existing group G, then the range of the existing group G becomes the union of the ranges, and the new group G' has depth one greater than the depth of G and range as the intersection of the ranges. For example, a group [B:D, depth 1] + [C:E] results in groups [B:E, depth 1] and [C:D, depth 2].","properties":{"range":{"$ref":"#/components/schemas/DimensionRange"}}},"BatchUpdateValuesByDataFilterResponse":{"type":"object","description":"The response when updating a range of values in a spreadsheet.","properties":{"totalUpdatedColumns":{"type":"integer","description":"The total number of columns where at least one cell in the column was updated.","format":"int32"},"responses":{"type":"array","description":"The response for each range updated.","items":{"$ref":"#/components/schemas/UpdateValuesByDataFilterResponse"}},"totalUpdatedSheets":{"type":"integer","description":"The total number of sheets where at least one cell in the sheet was updated.","format":"int32"},"totalUpdatedRows":{"type":"integer","description":"The total number of rows where at least one cell in the row was updated.","format":"int32"},"spreadsheetId":{"type":"string","description":"The spreadsheet the updates were applied to."},"totalUpdatedCells":{"type":"integer","description":"The total number of cells updated.","format":"int32"}}},"DimensionProperties":{"type":"object","description":"Properties about a dimension.","properties":{"pixelSize":{"type":"integer","description":"The height (if a row) or width (if a column) of the dimension in pixels.","format":"int32"},"hiddenByFilter":{"type":"boolean","description":"True if this dimension is being filtered. This field is read-only."},"hiddenByUser":{"type":"boolean","description":"True if this dimension is explicitly hidden."},"dataSourceColumnReference":{"$ref":"#/components/schemas/DataSourceColumnReference"},"developerMetadata":{"type":"array","description":"The developer metadata associated with a single row or column.","items":{"$ref":"#/components/schemas/DeveloperMetadata"}}}},"BigQueryQuerySpec":{"type":"object","description":"Specifies a custom BigQuery query.","properties":{"rawQuery":{"type":"string","description":"The raw query string."}}},"CancelDataSourceRefreshResponse":{"type":"object","description":"The response from cancelling one or multiple data source object refreshes.","properties":{"statuses":{"type":"array","description":"The cancellation statuses of refreshes of all data source objects specified in the request. If is_all is specified, the field contains only those in failure status. Refreshing and canceling refresh the same data source object is also not allowed in the same `batchUpdate`.","items":{"$ref":"#/components/schemas/CancelDataSourceRefreshStatus"}}}},"DataSourceObjectReference":{"type":"object","description":"Reference to a data source object.","properties":{"chartId":{"type":"integer","description":"References to a data source chart.","format":"int32"},"dataSourcePivotTableAnchorCell":{"$ref":"#/components/schemas/GridCoordinate"},"sheetId":{"type":"string","description":"References to a DATA_SOURCE sheet."},"dataSourceFormulaCell":{"$ref":"#/components/schemas/GridCoordinate"},"dataSourceTableAnchorCell":{"$ref":"#/components/schemas/GridCoordinate"}}},"EmbeddedChart":{"type":"object","description":"A chart embedded in a sheet.","properties":{"chartId":{"type":"integer","description":"The ID of the chart.","format":"int32"},"spec":{"$ref":"#/components/schemas/ChartSpec"},"position":{"$ref":"#/components/schemas/EmbeddedObjectPosition"},"border":{"$ref":"#/components/schemas/EmbeddedObjectBorder"}}},"ChartAxisViewWindowOptions":{"type":"object","description":"The options that define a \"view window\" for a chart (such as the visible values in an axis).","properties":{"viewWindowMax":{"type":"number","description":"The maximum numeric value to be shown in this view window. If unset, will automatically determine a maximum value that looks good for the data.","format":"double"},"viewWindowMode":{"type":"string","description":"The view window's mode.","enum":["DEFAULT_VIEW_WINDOW_MODE","VIEW_WINDOW_MODE_UNSUPPORTED","EXPLICIT","PRETTY"]},"viewWindowMin":{"type":"number","description":"The minimum numeric value to be shown in this view window. If unset, will automatically determine a minimum value that looks good for the data.","format":"double"}}},"FindReplaceResponse":{"type":"object","description":"The result of the find/replace.","properties":{"sheetsChanged":{"type":"integer","description":"The number of sheets changed.","format":"int32"},"rowsChanged":{"type":"integer","description":"The number of rows changed.","format":"int32"},"formulasChanged":{"type":"integer","description":"The number of formula cells changed.","format":"int32"},"valuesChanged":{"type":"integer","description":"The number of non-formula cells changed.","format":"int32"},"occurrencesChanged":{"type":"integer","description":"The number of occurrences (possibly multiple within a cell) changed. For example, if replacing `\"e\"` with `\"o\"` in `\"Google Sheets\"`, this would be `\"3\"` because `\"Google Sheets\"` -> `\"Googlo Shoots\"`.","format":"int32"}}},"Spreadsheet":{"type":"object","description":"Resource that represents a spreadsheet.","properties":{"dataSourceSchedules":{"type":"array","description":"Output only. A list of data source refresh schedules.","items":{"$ref":"#/components/schemas/DataSourceRefreshSchedule"}},"properties":{"$ref":"#/components/schemas/SpreadsheetProperties"},"sheets":{"type":"array","description":"The sheets that are part of a spreadsheet.","items":{"$ref":"#/components/schemas/Sheet"}},"spreadsheetUrl":{"type":"string","description":"The url of the spreadsheet. This field is read-only."},"developerMetadata":{"type":"array","description":"The developer metadata associated with a spreadsheet.","items":{"$ref":"#/components/schemas/DeveloperMetadata"}},"spreadsheetId":{"type":"string","description":"The ID of the spreadsheet. This field is read-only."},"namedRanges":{"type":"array","description":"The named ranges defined in a spreadsheet.","items":{"$ref":"#/components/schemas/NamedRange"}},"dataSources":{"type":"array","description":"A list of external data sources connected with the spreadsheet.","items":{"$ref":"#/components/schemas/DataSource"}}}},"AddBandingRequest":{"type":"object","description":"Adds a new banded range to the spreadsheet.","properties":{"bandedRange":{"$ref":"#/components/schemas/BandedRange"}}},"AddSlicerResponse":{"type":"object","description":"The result of adding a slicer to a spreadsheet.","properties":{"slicer":{"$ref":"#/components/schemas/Slicer"}}},"ChartCustomNumberFormatOptions":{"type":"object","description":"Custom number formatting options for chart attributes.","properties":{"suffix":{"type":"string","description":"Custom suffix to be appended to the chart attribute. This field is optional."},"prefix":{"type":"string","description":"Custom prefix to be prepended to the chart attribute. This field is optional."}}},"TableColumnDataValidationRule":{"type":"object","description":"A data validation rule for a column in a table.","properties":{"condition":{"$ref":"#/components/schemas/BooleanCondition"}}},"GridRange":{"type":"object","description":"A range on a sheet. All indexes are zero-based. Indexes are half open, i.e. the start index is inclusive and the end index is exclusive -- [start_index, end_index). Missing indexes indicate the range is unbounded on that side. For example, if `\"Sheet1\"` is sheet ID 123456, then: `Sheet1!A1:A1 == sheet_id: 123456, start_row_index: 0, end_row_index: 1, start_column_index: 0, end_column_index: 1` `Sheet1!A3:B4 == sheet_id: 123456, start_row_index: 2, end_row_index: 4, start_column_index: 0, end_column_index: 2` `Sheet1!A:B == sheet_id: 123456, start_column_index: 0, end_column_index: 2` `Sheet1!A5:B == sheet_id: 123456, start_row_index: 4, start_column_index: 0, end_column_index: 2` `Sheet1 == sheet_id: 123456` The start index must always be less than or equal to the end index. If the start index equals the end index, then the range is empty. Empty ranges are typically not meaningful and are usually rendered in the UI as `#REF!`.","properties":{"endRowIndex":{"type":"integer","description":"The end row (exclusive) of the range, or not set if unbounded.","format":"int32"},"endColumnIndex":{"type":"integer","description":"The end column (exclusive) of the range, or not set if unbounded.","format":"int32"},"startRowIndex":{"type":"integer","description":"The start row (inclusive) of the range, or not set if unbounded.","format":"int32"},"startColumnIndex":{"type":"integer","description":"The start column (inclusive) of the range, or not set if unbounded.","format":"int32"},"sheetId":{"type":"integer","description":"The sheet this range is on.","format":"int32"}}},"BigQueryTableSpec":{"type":"object","description":"Specifies a BigQuery table definition. Only [native tables](https://cloud.google.com/bigquery/docs/tables-intro) are allowed.","properties":{"tableProjectId":{"type":"string","description":"The ID of a BigQuery project the table belongs to. If not specified, the project_id is assumed."},"tableId":{"type":"string","description":"The BigQuery table id."},"datasetId":{"type":"string","description":"The BigQuery dataset id."}}},"ClearValuesResponse":{"type":"object","description":"The response when clearing a range of values in a spreadsheet.","properties":{"spreadsheetId":{"type":"string","description":"The spreadsheet the updates were applied to."},"clearedRange":{"type":"string","description":"The range (in A1 notation) that was cleared. (If the request was for an unbounded range or a range larger than the bounds of the sheet, this will be the actual range that was cleared, bounded to the sheet's limits.)"}}},"ChartGroupRule":{"type":"object","description":"An optional setting on the ChartData of the domain of a data source chart that defines buckets for the values in the domain rather than breaking out each individual value. For example, when plotting a data source chart, you can specify a histogram rule on the domain (it should only contain numeric values), grouping its values into buckets. Any values of a chart series that fall into the same bucket are aggregated based on the aggregate_type.","properties":{"histogramRule":{"$ref":"#/components/schemas/ChartHistogramRule"},"dateTimeRule":{"$ref":"#/components/schemas/ChartDateTimeRule"}}},"DimensionGroup":{"type":"object","description":"A group over an interval of rows or columns on a sheet, which can contain or be contained within other groups. A group can be collapsed or expanded as a unit on the sheet.","properties":{"range":{"$ref":"#/components/schemas/DimensionRange"},"depth":{"type":"integer","description":"The depth of the group, representing how many groups have a range that wholly contains the range of this group.","format":"int32"},"collapsed":{"type":"boolean","description":"This field is true if this group is collapsed. A collapsed group remains collapsed if an overlapping group at a shallower depth is expanded. A true value does not imply that all dimensions within the group are hidden, since a dimension's visibility can change independently from this group property. However, when this property is updated, all dimensions within it are set to hidden if this field is true, or set to visible if this field is false."}}},"UpdateBordersRequest":{"type":"object","description":"Updates the borders of a range. If a field is not set in the request, that means the border remains as-is. For example, with two subsequent UpdateBordersRequest: 1. range: A1:A5 `{ top: RED, bottom: WHITE }` 2. range: A1:A5 `{ left: BLUE }` That would result in A1:A5 having a borders of `{ top: RED, bottom: WHITE, left: BLUE }`. If you want to clear a border, explicitly set the style to NONE.","properties":{"range":{"$ref":"#/components/schemas/GridRange"},"left":{"$ref":"#/components/schemas/Border"},"top":{"$ref":"#/components/schemas/Border"},"bottom":{"$ref":"#/components/schemas/Border"},"right":{"$ref":"#/components/schemas/Border"},"innerHorizontal":{"$ref":"#/components/schemas/Border"},"innerVertical":{"$ref":"#/components/schemas/Border"}}},"UpdateEmbeddedObjectPositionResponse":{"type":"object","description":"The result of updating an embedded object's position.","properties":{"position":{"$ref":"#/components/schemas/EmbeddedObjectPosition"}}},"OrgChartSpec":{"type":"object","description":"An org chart. Org charts require a unique set of labels in labels and may optionally include parent_labels and tooltips. parent_labels contain, for each node, the label identifying the parent node. tooltips contain, for each node, an optional tooltip. For example, to describe an OrgChart with Alice as the CEO, Bob as the President (reporting to Alice) and Cathy as VP of Sales (also reporting to Alice), have labels contain \"Alice\", \"Bob\", \"Cathy\", parent_labels contain \"\", \"Alice\", \"Alice\" and tooltips contain \"CEO\", \"President\", \"VP Sales\".","properties":{"selectedNodeColor":{"$ref":"#/components/schemas/Color"},"selectedNodeColorStyle":{"$ref":"#/components/schemas/ColorStyle"},"tooltips":{"$ref":"#/components/schemas/ChartData"},"parentLabels":{"$ref":"#/components/schemas/ChartData"},"nodeColor":{"$ref":"#/components/schemas/Color"},"nodeColorStyle":{"$ref":"#/components/schemas/ColorStyle"},"labels":{"$ref":"#/components/schemas/ChartData"},"nodeSize":{"type":"string","description":"The size of the org chart nodes.","enum":["ORG_CHART_LABEL_SIZE_UNSPECIFIED","SMALL","MEDIUM","LARGE"]}}},"DeleteDataSourceRequest":{"type":"object","description":"Deletes a data source. The request also deletes the associated data source sheet, and unlinks all associated data source objects.","properties":{"dataSourceId":{"type":"string","description":"The ID of the data source to delete."}}},"PivotTable":{"type":"object","description":"A pivot table.","properties":{"dataSourceId":{"type":"string","description":"The ID of the data source the pivot table is reading data from."},"values":{"type":"array","description":"A list of values to include in the pivot table.","items":{"$ref":"#/components/schemas/PivotValue"}},"columns":{"type":"array","description":"Each column grouping in the pivot table.","items":{"$ref":"#/components/schemas/PivotGroup"}},"filterSpecs":{"type":"array","description":"The filters applied to the source columns before aggregating data for the pivot table. Both criteria and filter_specs are populated in responses. If both fields are specified in an update request, this field takes precedence.","items":{"$ref":"#/components/schemas/PivotFilterSpec"}},"valueLayout":{"type":"string","description":"Whether values should be listed horizontally (as columns) or vertically (as rows).","enum":["HORIZONTAL","VERTICAL"]},"rows":{"type":"array","description":"Each row grouping in the pivot table.","items":{"$ref":"#/components/schemas/PivotGroup"}},"dataExecutionStatus":{"$ref":"#/components/schemas/DataExecutionStatus"},"criteria":{"type":"object","description":"An optional mapping of filters per source column offset. The filters are applied before aggregating data into the pivot table. The map's key is the column offset of the source range that you want to filter, and the value is the criteria for that column. For example, if the source was `C10:E15`, a key of `0` will have the filter for column `C`, whereas the key `1` is for column `D`. This field is deprecated in favor of filter_specs.","additionalProperties":{"$ref":"#/components/schemas/PivotFilterCriteria"}},"source":{"$ref":"#/components/schemas/GridRange"}}},"InsertDimensionRequest":{"type":"object","description":"Inserts rows or columns in a sheet at a particular index.","properties":{"range":{"$ref":"#/components/schemas/DimensionRange"},"inheritFromBefore":{"type":"boolean","description":"Whether dimension properties should be extended from the dimensions before or after the newly inserted dimensions. True to inherit from the dimensions before (in which case the start index must be greater than 0), and false to inherit from the dimensions after. For example, if row index 0 has red background and row index 1 has a green background, then inserting 2 rows at index 1 can inherit either the green or red background. If `inheritFromBefore` is true, the two new rows will be red (because the row before the insertion point was red), whereas if `inheritFromBefore` is false, the two new rows will be green (because the row after the insertion point was green)."}}},"WaterfallChartDomain":{"type":"object","description":"The domain of a waterfall chart.","properties":{"data":{"$ref":"#/components/schemas/ChartData"},"reversed":{"type":"boolean","description":"True to reverse the order of the domain values (horizontal axis)."}}},"RowData":{"type":"object","description":"Data about each cell in a row.","properties":{"values":{"type":"array","description":"The values in the row, one per column.","items":{"$ref":"#/components/schemas/CellData"}}}},"UpdateValuesByDataFilterResponse":{"type":"object","description":"The response when updating a range of values by a data filter in a spreadsheet.","properties":{"updatedData":{"$ref":"#/components/schemas/ValueRange"},"updatedColumns":{"type":"integer","description":"The number of columns where at least one cell in the column was updated.","format":"int32"},"updatedRows":{"type":"integer","description":"The number of rows where at least one cell in the row was updated.","format":"int32"},"updatedCells":{"type":"integer","description":"The number of cells updated.","format":"int32"},"updatedRange":{"type":"string","description":"The range (in [A1 notation](https://developers.google.com/workspace/sheets/api/guides/concepts#cell)) that updates were applied to."},"dataFilter":{"$ref":"#/components/schemas/DataFilter"}}},"DataSourceRefreshMonthlySchedule":{"type":"object","description":"A monthly schedule for data to refresh on specific days in the month in a given time interval.","properties":{"startTime":{"$ref":"#/components/schemas/TimeOfDay"},"daysOfMonth":{"type":"array","description":"Days of the month to refresh. Only 1-28 are supported, mapping to the 1st to the 28th day. At least one day must be specified.","items":{"type":"integer","format":"int32"}}}},"AddFilterViewResponse":{"type":"object","description":"The result of adding a filter view.","properties":{"filter":{"$ref":"#/components/schemas/FilterView"}}},"DeveloperMetadataLookup":{"type":"object","description":"Selects DeveloperMetadata that matches all of the specified fields. For example, if only a metadata ID is specified this considers the DeveloperMetadata with that particular unique ID. If a metadata key is specified, this considers all developer metadata with that key. If a key, visibility, and location type are all specified, this considers all developer metadata with that key and visibility that are associated with a location of that type. In general, this selects all DeveloperMetadata that match the intersection of all the specified fields; any field or combination of fields may be specified.","properties":{"metadataValue":{"type":"string","description":"Limits the selected developer metadata to that which has a matching DeveloperMetadata.metadata_value."},"metadataId":{"type":"integer","description":"Limits the selected developer metadata to that which has a matching DeveloperMetadata.metadata_id.","format":"int32"},"metadataKey":{"type":"string","description":"Limits the selected developer metadata to that which has a matching DeveloperMetadata.metadata_key."},"locationType":{"type":"string","description":"Limits the selected developer metadata to those entries which are associated with locations of the specified type. For example, when this field is specified as ROW this lookup only considers developer metadata associated on rows. If the field is left unspecified, all location types are considered. This field cannot be specified as SPREADSHEET when the locationMatchingStrategy is specified as INTERSECTING or when the metadataLocation is specified as a non-spreadsheet location. Spreadsheet metadata cannot intersect any other developer metadata location. This field also must be left unspecified when the locationMatchingStrategy is specified as EXACT.","enum":["DEVELOPER_METADATA_LOCATION_TYPE_UNSPECIFIED","ROW","COLUMN","SHEET","SPREADSHEET"]},"metadataLocation":{"$ref":"#/components/schemas/DeveloperMetadataLocation"},"locationMatchingStrategy":{"type":"string","description":"Determines how this lookup matches the location. If this field is specified as EXACT, only developer metadata associated on the exact location specified is matched. If this field is specified to INTERSECTING, developer metadata associated on intersecting locations is also matched. If left unspecified, this field assumes a default value of INTERSECTING. If this field is specified, a metadataLocation must also be specified.","enum":["DEVELOPER_METADATA_LOCATION_MATCHING_STRATEGY_UNSPECIFIED","EXACT_LOCATION","INTERSECTING_LOCATION"]},"visibility":{"type":"string","description":"Limits the selected developer metadata to that which has a matching DeveloperMetadata.visibility. If left unspecified, all developer metadata visible to the requesting project is considered.","enum":["DEVELOPER_METADATA_VISIBILITY_UNSPECIFIED","DOCUMENT","PROJECT"]}}},"DataFilterValueRange":{"type":"object","description":"A range of values whose location is specified by a DataFilter.","properties":{"dataFilter":{"$ref":"#/components/schemas/DataFilter"},"majorDimension":{"type":"string","description":"The major dimension of the values.","enum":["DIMENSION_UNSPECIFIED","ROWS","COLUMNS"]},"values":{"type":"array","description":"The data to be written. If the provided values exceed any of the ranges matched by the data filter then the request fails. If the provided values are less than the matched ranges only the specified values are written, existing values in the matched ranges remain unaffected.","items":{"type":"array","items":{"type":"any"}}}}},"WaterfallChartColumnStyle":{"type":"object","description":"Styles for a waterfall chart column.","properties":{"label":{"type":"string","description":"The label of the column's legend."},"colorStyle":{"$ref":"#/components/schemas/ColorStyle"},"color":{"$ref":"#/components/schemas/Color"}}},"NamedRange":{"type":"object","description":"A named range.","properties":{"range":{"$ref":"#/components/schemas/GridRange"},"namedRangeId":{"type":"string","description":"The ID of the named range."},"name":{"type":"string","description":"The name of the named range."}}},"DataExecutionStatus":{"type":"object","description":"The data execution status. A data execution is created to sync a data source object with the latest data from a DataSource. It is usually scheduled to run at background, you can check its state to tell if an execution completes There are several scenarios where a data execution is triggered to run: * Adding a data source creates an associated data source sheet as well as a data execution to sync the data from the data source to the sheet. * Updating a data source creates a data execution to refresh the associated data source sheet similarly. * You can send refresh request to explicitly refresh one or multiple data source objects.","properties":{"state":{"type":"string","description":"The state of the data execution.","enum":["DATA_EXECUTION_STATE_UNSPECIFIED","NOT_STARTED","RUNNING","CANCELLING","SUCCEEDED","FAILED"]},"lastRefreshTime":{"type":"string","description":"Gets the time the data last successfully refreshed.","format":"google-datetime"},"errorCode":{"type":"string","description":"The error code.","enum":["DATA_EXECUTION_ERROR_CODE_UNSPECIFIED","TIMED_OUT","TOO_MANY_ROWS","TOO_MANY_COLUMNS","TOO_MANY_CELLS","ENGINE","PARAMETER_INVALID","UNSUPPORTED_DATA_TYPE","DUPLICATE_COLUMN_NAMES","INTERRUPTED","CONCURRENT_QUERY","OTHER","TOO_MANY_CHARS_PER_CELL","DATA_NOT_FOUND","PERMISSION_DENIED","MISSING_COLUMN_ALIAS","OBJECT_NOT_FOUND","OBJECT_IN_ERROR_STATE","OBJECT_SPEC_INVALID","DATA_EXECUTION_CANCELLED"]},"errorMessage":{"type":"string","description":"The error message, which may be empty."}}},"BaselineValueFormat":{"type":"object","description":"Formatting options for baseline value.","properties":{"comparisonType":{"type":"string","description":"The comparison type of key value with baseline value.","enum":["COMPARISON_TYPE_UNDEFINED","ABSOLUTE_DIFFERENCE","PERCENTAGE_DIFFERENCE"]},"textFormat":{"$ref":"#/components/schemas/TextFormat"},"description":{"type":"string","description":"Description which is appended after the baseline value. This field is optional."},"positiveColor":{"$ref":"#/components/schemas/Color"},"negativeColorStyle":{"$ref":"#/components/schemas/ColorStyle"},"positiveColorStyle":{"$ref":"#/components/schemas/ColorStyle"},"position":{"$ref":"#/components/schemas/TextPosition"},"negativeColor":{"$ref":"#/components/schemas/Color"}}},"PivotGroupRule":{"type":"object","description":"An optional setting on a PivotGroup that defines buckets for the values in the source data column rather than breaking out each individual value. Only one PivotGroup with a group rule may be added for each column in the source data, though on any given column you may add both a PivotGroup that has a rule and a PivotGroup that does not.","properties":{"dateTimeRule":{"$ref":"#/components/schemas/DateTimeRule"},"manualRule":{"$ref":"#/components/schemas/ManualRule"},"histogramRule":{"$ref":"#/components/schemas/HistogramRule"}}},"GetSpreadsheetByDataFilterRequest":{"type":"object","description":"The request for retrieving a Spreadsheet.","properties":{"dataFilters":{"type":"array","description":"The DataFilters used to select which ranges to retrieve from the spreadsheet.","items":{"$ref":"#/components/schemas/DataFilter"}},"includeGridData":{"type":"boolean","description":"True if grid data should be returned. This parameter is ignored if a field mask was set in the request."},"excludeTablesInBandedRanges":{"type":"boolean","description":"True if tables should be excluded in the banded ranges. False if not set."}}},"DeleteDimensionRequest":{"type":"object","description":" Deletes the dimensions from the sheet.","properties":{"range":{"$ref":"#/components/schemas/DimensionRange"}}},"UpdateTableRequest":{"type":"object","description":"Updates a table in the spreadsheet.","properties":{"table":{"$ref":"#/components/schemas/Table"},"fields":{"type":"string","description":"Required. The fields that should be updated. At least one field must be specified. The root `table` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field.","format":"google-fieldmask"}}},"TextPosition":{"type":"object","description":"Position settings for text.","properties":{"horizontalAlignment":{"type":"string","description":"Horizontal alignment setting for the piece of text.","enum":["HORIZONTAL_ALIGN_UNSPECIFIED","LEFT","CENTER","RIGHT"]}}},"UpdateDimensionGroupRequest":{"type":"object","description":"Updates the state of the specified group.","properties":{"dimensionGroup":{"$ref":"#/components/schemas/DimensionGroup"},"fields":{"type":"string","description":"The fields that should be updated. At least one field must be specified. The root `dimensionGroup` is implied and should not be specified. A single `\"*\"` can be used as short-hand for listing every field.","format":"google-fieldmask"}}},"UpdateConditionalFormatRuleRequest":{"type":"object","description":"Updates a conditional format rule at the given index, or moves a conditional format rule to another index.","properties":{"index":{"type":"integer","description":"The zero-based index of the rule that should be replaced or moved.","format":"int32"},"newIndex":{"type":"integer","description":"The zero-based new index the rule should end up at.","format":"int32"},"rule":{"$ref":"#/components/schemas/ConditionalFormatRule"},"sheetId":{"type":"integer","description":"The sheet of the rule to move. Required if new_index is set, unused otherwise.","format":"int32"}}},"BatchClearValuesByDataFilterResponse":{"type":"object","description":"The response when clearing a range of values selected with DataFilters in a spreadsheet.","properties":{"spreadsheetId":{"type":"string","description":"The spreadsheet the updates were applied to."},"clearedRanges":{"type":"array","description":"The ranges that were cleared, in [A1 notation](https://developers.google.com/workspace/sheets/api/guides/concepts#cell). If the requests are for an unbounded range or a range larger than the bounds of the sheet, this is the actual ranges that were cleared, bounded to the sheet's limits.","items":{"type":"string"}}}},"FilterView":{"type":"object","description":"A filter view. For more information, see [Manage data visibility with filters](https://developers.google.com/workspace/sheets/api/guides/filters).","properties":{"tableId":{"type":"string","description":"The table this filter view is backed by, if any. When writing, only one of range, named_range_id, or table_id may be set."},"range":{"$ref":"#/components/schemas/GridRange"},"title":{"type":"string","description":"The name of the filter view."},"sortSpecs":{"type":"array","description":"The sort order per column. Later specifications are used when values are equal in the earlier specifications.","items":{"$ref":"#/components/schemas/SortSpec"}},"filterViewId":{"type":"integer","description":"The ID of the filter view.","format":"int32"},"namedRangeId":{"type":"string","description":"The named range this filter view is backed by, if any. When writing, only one of range, named_range_id, or table_id may be set."},"criteria":{"type":"object","description":"The criteria for showing/hiding values per column. The map's key is the column index, and the value is the criteria for that column. This field is deprecated in favor of filter_specs.","additionalProperties":{"$ref":"#/components/schemas/FilterCriteria"}},"filterSpecs":{"type":"array","description":"The filter criteria for showing or hiding values per column. Both criteria and filter_specs are populated in responses. If both fields are specified in an update request, this field takes precedence.","items":{"$ref":"#/components/schemas/FilterSpec"}}}},"BatchUpdateSpreadsheetResponse":{"type":"object","description":"The reply for batch updating a spreadsheet.","properties":{"replies":{"type":"array","description":"The reply of the updates. This maps 1:1 with the updates, although replies to some requests may be empty.","items":{"$ref":"#/components/schemas/Response"}},"spreadsheetId":{"type":"string","description":"The spreadsheet the updates were applied to."},"updatedSpreadsheet":{"$ref":"#/components/schemas/Spreadsheet"}}},"DeleteTableRequest":{"type":"object","description":"Removes the table with the given ID from the spreadsheet.","properties":{"tableId":{"type":"string","description":"The ID of the table to delete."}}},"NumberFormat":{"type":"object","description":"The number format of a cell.","properties":{"type":{"type":"string","description":"The type of the number format. When writing, this field must be set.","enum":["NUMBER_FORMAT_TYPE_UNSPECIFIED","TEXT","NUMBER","PERCENT","CURRENCY","DATE","TIME","DATE_TIME","SCIENTIFIC"]},"pattern":{"type":"string","description":"Pattern string used for formatting. If not set, a default pattern based on the spreadsheet's locale will be used if necessary for the given type. See the [Date and Number Formats guide](https://developers.google.com/workspace/sheets/api/guides/formats) for more information about the supported patterns."}}},"GridProperties":{"type":"object","description":"Properties of a grid.","properties":{"frozenRowCount":{"type":"integer","description":"The number of rows that are frozen in the grid.","format":"int32"},"rowCount":{"type":"integer","description":"The number of rows in the grid.","format":"int32"},"frozenColumnCount":{"type":"integer","description":"The number of columns that are frozen in the grid.","format":"int32"},"rowGroupControlAfter":{"type":"boolean","description":"True if the row grouping control toggle is shown after the group."},"columnCount":{"type":"integer","description":"The number of columns in the grid.","format":"int32"},"columnGroupControlAfter":{"type":"boolean","description":"True if the column grouping control toggle is shown after the group."},"hideGridlines":{"type":"boolean","description":"True if the grid isn't showing gridlines in the UI."}}},"PersonProperties":{"type":"object","description":"Properties specific to a linked person.","properties":{"displayFormat":{"type":"string","description":"Optional. The display format of the person chip. If not set, the default display format is used.","enum":["DISPLAY_FORMAT_UNSPECIFIED","DEFAULT","LAST_NAME_COMMA_FIRST_NAME","EMAIL"]},"email":{"type":"string","description":"Required. The email address linked to this person. This field is always present."}}},"IterativeCalculationSettings":{"type":"object","description":"Settings to control how circular dependencies are resolved with iterative calculation.","properties":{"maxIterations":{"type":"integer","description":"When iterative calculation is enabled, the maximum number of calculation rounds to perform.","format":"int32"},"convergenceThreshold":{"type":"number","description":"When iterative calculation is enabled and successive results differ by less than this threshold value, the calculation rounds stop.","format":"double"}}},"ChartSpec":{"type":"object","description":"The specifications of a chart.","properties":{"subtitleTextPosition":{"$ref":"#/components/schemas/TextPosition"},"waterfallChart":{"$ref":"#/components/schemas/WaterfallChartSpec"},"orgChart":{"$ref":"#/components/schemas/OrgChartSpec"},"histogramChart":{"$ref":"#/components/schemas/HistogramChartSpec"},"backgroundColor":{"$ref":"#/components/schemas/Color"},"altText":{"type":"string","description":"The alternative text that describes the chart. This is often used for accessibility."},"titleTextPosition":{"$ref":"#/components/schemas/TextPosition"},"candlestickChart":{"$ref":"#/components/schemas/CandlestickChartSpec"},"titleTextFormat":{"$ref":"#/components/schemas/TextFormat"},"fontName":{"type":"string","description":"The name of the font to use by default for all chart text (e.g. title, axis labels, legend). If a font is specified for a specific part of the chart it will override this font name."},"bubbleChart":{"$ref":"#/components/schemas/BubbleChartSpec"},"treemapChart":{"$ref":"#/components/schemas/TreemapChartSpec"},"scorecardChart":{"$ref":"#/components/schemas/ScorecardChartSpec"},"dataSourceChartProperties":{"$ref":"#/components/schemas/DataSourceChartProperties"},"hiddenDimensionStrategy":{"type":"string","description":"Determines how the charts will use hidden rows or columns.","enum":["CHART_HIDDEN_DIMENSION_STRATEGY_UNSPECIFIED","SKIP_HIDDEN_ROWS_AND_COLUMNS","SKIP_HIDDEN_ROWS","SKIP_HIDDEN_COLUMNS","SHOW_ALL"]},"maximized":{"type":"boolean","description":"True to make a chart fill the entire space in which it's rendered with minimum padding. False to use the default padding. (Not applicable to Geo and Org charts.)"},"pieChart":{"$ref":"#/components/schemas/PieChartSpec"},"title":{"type":"string","description":"The title of the chart."},"basicChart":{"$ref":"#/components/schemas/BasicChartSpec"},"subtitle":{"type":"string","description":"The subtitle of the chart."},"sortSpecs":{"type":"array","description":"The order to sort the chart data by. Only a single sort spec is supported. Only supported for data source charts.","items":{"$ref":"#/components/schemas/SortSpec"}},"subtitleTextFormat":{"$ref":"#/components/schemas/TextFormat"},"backgroundColorStyle":{"$ref":"#/components/schemas/ColorStyle"},"filterSpecs":{"type":"array","description":"The filters applied to the source data of the chart. Only supported for data source charts.","items":{"$ref":"#/components/schemas/FilterSpec"}}}},"AddProtectedRangeResponse":{"type":"object","description":"The result of adding a new protected range.","properties":{"protectedRange":{"$ref":"#/components/schemas/ProtectedRange"}}},"AutoResizeDimensionsRequest":{"type":"object","description":"Automatically resizes one or more dimensions based on the contents of the cells in that dimension.","properties":{"dimensions":{"$ref":"#/components/schemas/DimensionRange"},"dataSourceSheetDimensions":{"$ref":"#/components/schemas/DataSourceSheetDimensionRange"}}},"UpdateConditionalFormatRuleResponse":{"type":"object","description":"The result of updating a conditional format rule.","properties":{"newIndex":{"type":"integer","description":"The index of the new rule.","format":"int32"},"oldRule":{"$ref":"#/components/schemas/ConditionalFormatRule"},"oldIndex":{"type":"integer","description":"The old index of the rule. Not set if a rule was replaced (because it is the same as new_index).","format":"int32"},"newRule":{"$ref":"#/components/schemas/ConditionalFormatRule"}}},"BubbleChartSpec":{"type":"object","description":"A bubble chart.","properties":{"bubbleOpacity":{"type":"number","description":"The opacity of the bubbles between 0 and 1.0. 0 is fully transparent and 1 is fully opaque.","format":"float"},"bubbleBorderColor":{"$ref":"#/components/schemas/Color"},"groupIds":{"$ref":"#/components/schemas/ChartData"},"bubbleBorderColorStyle":{"$ref":"#/components/schemas/ColorStyle"},"bubbleMaxRadiusSize":{"type":"integer","description":"The max radius size of the bubbles, in pixels. If specified, the field must be a positive value.","format":"int32"},"domain":{"$ref":"#/components/schemas/ChartData"},"bubbleTextStyle":{"$ref":"#/components/schemas/TextFormat"},"legendPosition":{"type":"string","description":"Where the legend of the chart should be drawn.","enum":["BUBBLE_CHART_LEGEND_POSITION_UNSPECIFIED","BOTTOM_LEGEND","LEFT_LEGEND","RIGHT_LEGEND","TOP_LEGEND","NO_LEGEND","INSIDE_LEGEND"]},"bubbleLabels":{"$ref":"#/components/schemas/ChartData"},"series":{"$ref":"#/components/schemas/ChartData"},"bubbleMinRadiusSize":{"type":"integer","description":"The minimum radius size of the bubbles, in pixels. If specific, the field must be a positive value.","format":"int32"},"bubbleSizes":{"$ref":"#/components/schemas/ChartData"}}},"AddDataSourceRequest":{"type":"object","description":"Adds a data source. After the data source is added successfully, an associated DATA_SOURCE sheet is created and an execution is triggered to refresh the sheet to read data from the data source. The request requires an additional `bigquery.readonly` OAuth scope if you are adding a BigQuery data source.","properties":{"dataSource":{"$ref":"#/components/schemas/DataSource"}}},"RefreshDataSourceRequest":{"type":"object","description":"Refreshes one or multiple data source objects in the spreadsheet by the specified references. The request requires an additional `bigquery.readonly` OAuth scope if you are refreshing a BigQuery data source. If there are multiple refresh requests referencing the same data source objects in one batch, only the last refresh request is processed, and all those requests will have the same response accordingly.","properties":{"dataSourceId":{"type":"string","description":"Reference to a DataSource. If specified, refreshes all associated data source objects for the data source."},"force":{"type":"boolean","description":"Refreshes the data source objects regardless of the current state. If not set and a referenced data source object was in error state, the refresh will fail immediately."},"references":{"$ref":"#/components/schemas/DataSourceObjectReferences"},"isAll":{"type":"boolean","description":"Refreshes all existing data source objects in the spreadsheet."}}},"DeveloperMetadata":{"type":"object","description":"Developer metadata associated with a location or object in a spreadsheet. For more information, see [Read, write, and search metadata](https://developers.google.com/workspace/sheets/api/guides/metadata). Developer metadata may be used to associate arbitrary data with various parts of a spreadsheet and it will remain associated at those locations as they move around and the spreadsheet is edited. For example, if developer metadata is associated with row 5 and another row is then subsequently inserted above row 5, that original metadata is still associated with the row it was first associated with (what is now row 6). If the associated object is deleted then its metadata is deleted too.","properties":{"location":{"$ref":"#/components/schemas/DeveloperMetadataLocation"},"visibility":{"type":"string","description":"The metadata visibility. Developer metadata must always have visibility specified.","enum":["DEVELOPER_METADATA_VISIBILITY_UNSPECIFIED","DOCUMENT","PROJECT"]},"metadataValue":{"type":"string","description":"Data associated with the metadata's key."},"metadataId":{"type":"integer","description":"The spreadsheet-scoped unique ID that identifies the metadata. IDs may be specified when metadata is created, otherwise one will be randomly generated and assigned. Must be positive.","format":"int32"},"metadataKey":{"type":"string","description":"The metadata key. There may be multiple metadata in a spreadsheet with the same key. Developer metadata must always have a key specified."}}},"TextRotation":{"type":"object","description":"The rotation applied to text in a cell.","properties":{"angle":{"type":"integer","description":"The angle between the standard orientation and the desired orientation. Measured in degrees. Valid values are between -90 and 90. Positive angles are angled upwards, negative are angled downwards. Note: For LTR text direction positive angles are in the counterclockwise direction, whereas for RTL they are in the clockwise direction","format":"int32"},"vertical":{"type":"boolean","description":"If true, text reads top to bottom, but the orientation of individual characters is unchanged. For example: | V | | e | | r | | t | | i | | c | | a | | l |"}}},"TableColumnProperties":{"type":"object","description":"The table column.","properties":{"columnIndex":{"type":"integer","description":"The 0-based column index. This index is relative to its position in the table and is not necessarily the same as the column index in the sheet.","format":"int32"},"columnName":{"type":"string","description":"The column name."},"columnType":{"type":"string","description":"The column type.","enum":["COLUMN_TYPE_UNSPECIFIED","DOUBLE","CURRENCY","PERCENT","DATE","TIME","DATE_TIME","TEXT","BOOLEAN","DROPDOWN","FILES_CHIP","PEOPLE_CHIP","FINANCE_CHIP","PLACE_CHIP","RATINGS_CHIP"]},"dataValidationRule":{"$ref":"#/components/schemas/TableColumnDataValidationRule"}}},"DataSourceColumn":{"type":"object","description":"A column in a data source.","properties":{"reference":{"$ref":"#/components/schemas/DataSourceColumnReference"},"formula":{"type":"string","description":"The formula of the calculated column."}}},"DeleteNamedRangeRequest":{"type":"object","description":"Removes the named range with the given ID from the spreadsheet.","properties":{"namedRangeId":{"type":"string","description":"The ID of the named range to delete."}}},"FindReplaceRequest":{"type":"object","description":"Finds and replaces data in cells over a range, sheet, or all sheets.","properties":{"sheetId":{"type":"integer","description":"The sheet to find/replace over.","format":"int32"},"searchByRegex":{"type":"boolean","description":"True if the find value is a regex. The regular expression and replacement should follow Java regex rules at https://docs.oracle.com/javase/8/docs/api/java/util/regex/Pattern.html. The replacement string is allowed to refer to capturing groups. For example, if one cell has the contents `\"Google Sheets\"` and another has `\"Google Docs\"`, then searching for `\"o.* (.*)\"` with a replacement of `\"$1 Rocks\"` would change the contents of the cells to `\"GSheets Rocks\"` and `\"GDocs Rocks\"` respectively."},"find":{"type":"string","description":"The value to search."},"allSheets":{"type":"boolean","description":"True to find/replace over all sheets."},"matchEntireCell":{"type":"boolean","description":"True if the find value should match the entire cell."},"replacement":{"type":"string","description":"The value to use as the replacement."},"range":{"$ref":"#/components/schemas/GridRange"},"matchCase":{"type":"boolean","description":"True if the search is case sensitive."},"includeFormulas":{"type":"boolean","description":"True if the search should include cells with formulas. False to skip cells with formulas."}}},"GridCoordinate":{"type":"object","description":"A coordinate in a sheet. All indexes are zero-based.","properties":{"sheetId":{"type":"integer","description":"The sheet this coordinate is on.","format":"int32"},"rowIndex":{"type":"integer","description":"The row index of the coordinate.","format":"int32"},"columnIndex":{"type":"integer","description":"The column index of the coordinate.","format":"int32"}}},"SortRangeRequest":{"type":"object","description":"Sorts data in rows based on a sort order per column.","properties":{"range":{"$ref":"#/components/schemas/GridRange"},"sortSpecs":{"type":"array","description":"The sort order per column. Later specifications are used when values are equal in the earlier specifications.","items":{"$ref":"#/components/schemas/SortSpec"}}}},"DeleteRangeRequest":{"type":"object","description":"Deletes a range of cells, shifting other cells into the deleted area.","properties":{"range":{"$ref":"#/components/schemas/GridRange"},"shiftDimension":{"type":"string","description":"The dimension from which deleted cells will be replaced with. If ROWS, existing cells will be shifted upward to replace the deleted cells. If COLUMNS, existing cells will be shifted left to replace the deleted cells.","enum":["DIMENSION_UNSPECIFIED","ROWS","COLUMNS"]}}},"HistogramSeries":{"type":"object","description":"A histogram series containing the series color and data.","properties":{"barColorStyle":{"$ref":"#/components/schemas/ColorStyle"},"barColor":{"$ref":"#/components/schemas/Color"},"data":{"$ref":"#/components/schemas/ChartData"}}},"BatchGetValuesByDataFilterRequest":{"type":"object","description":"The request for retrieving a range of values in a spreadsheet selected by a set of DataFilters.","properties":{"valueRenderOption":{"type":"string","description":"How values should be represented in the output. The default render option is FORMATTED_VALUE.","enum":["FORMATTED_VALUE","UNFORMATTED_VALUE","FORMULA"]},"dataFilters":{"type":"array","description":"The data filters used to match the ranges of values to retrieve. Ranges that match any of the specified data filters are included in the response.","items":{"$ref":"#/components/schemas/DataFilter"}},"majorDimension":{"type":"string","description":"The major dimension that results should use. For example, if the spreadsheet data is: `A1=1,B1=2,A2=3,B2=4`, then a request that selects that range and sets `majorDimension=ROWS` returns `[[1,2],[3,4]]`, whereas a request that sets `majorDimension=COLUMNS` returns `[[1,3],[2,4]]`.","enum":["DIMENSION_UNSPECIFIED","ROWS","COLUMNS"]},"dateTimeRenderOption":{"type":"stri
[...]
