openapi: 3.0.3
info:
  title: Fabricate Airbyte API
  version: v1
  description: >-
    Curated Airbyte API v1 contract supported by Fabricate. Paths are the
    public paths on api.airbyte.com. Operation ids match the Airbyte API
    reference. Resource ids are the Acme world's synthetic strings, jobId is a
    string, and JobResponse adds sourceId plus failureReason so a failed sync
    can name its source and error text. Connector configuration unions are not
    embedded. Undeclared Airbyte operations are not advertised.
servers:
  - url: https://api.airbyte.com
    description: Airbyte API
security:
  - bearerAuth: []
tags:
  - name: Sources
  - name: Destinations
  - name: Connections
  - name: Jobs
paths:
  /v1/sources:
    get:
      operationId: listSources
      summary: List sources
      tags: [Sources]
      parameters:
        - $ref: '#/components/parameters/WorkspaceIds'
        - $ref: '#/components/parameters/IncludeDeleted'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: Sources.
          content:
            application/json:
              schema: {$ref: '#/components/schemas/SourcesResponse'}
        default: {$ref: '#/components/responses/Error'}
  /v1/sources/{sourceId}:
    get:
      operationId: getSource
      summary: Get a source
      tags: [Sources]
      parameters:
        - $ref: '#/components/parameters/SourceId'
      responses:
        '200':
          description: Source.
          content:
            application/json:
              schema: {$ref: '#/components/schemas/SourceResponse'}
        default: {$ref: '#/components/responses/Error'}
  /v1/destinations:
    get:
      operationId: listDestinations
      summary: List destinations
      tags: [Destinations]
      parameters:
        - $ref: '#/components/parameters/WorkspaceIds'
        - $ref: '#/components/parameters/IncludeDeleted'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: Destinations.
          content:
            application/json:
              schema: {$ref: '#/components/schemas/DestinationsResponse'}
        default: {$ref: '#/components/responses/Error'}
  /v1/destinations/{destinationId}:
    get:
      operationId: getDestination
      summary: Get a destination
      tags: [Destinations]
      parameters:
        - $ref: '#/components/parameters/DestinationId'
      responses:
        '200':
          description: Destination.
          content:
            application/json:
              schema: {$ref: '#/components/schemas/DestinationResponse'}
        default: {$ref: '#/components/responses/Error'}
  /v1/connections:
    get:
      operationId: listConnections
      summary: List connections
      tags: [Connections]
      parameters:
        - $ref: '#/components/parameters/WorkspaceIds'
        - $ref: '#/components/parameters/IncludeDeleted'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: Connections.
          content:
            application/json:
              schema: {$ref: '#/components/schemas/ConnectionsResponse'}
        default: {$ref: '#/components/responses/Error'}
  /v1/connections/{connectionId}:
    get:
      operationId: getConnection
      summary: Get a connection
      tags: [Connections]
      parameters:
        - $ref: '#/components/parameters/ConnectionId'
      responses:
        '200':
          description: Connection.
          content:
            application/json:
              schema: {$ref: '#/components/schemas/ConnectionResponse'}
        default: {$ref: '#/components/responses/Error'}
  /v1/jobs:
    get:
      operationId: listJobs
      summary: List jobs
      tags: [Jobs]
      parameters:
        - name: connectionId
          in: query
          description: Filter jobs by connection id.
          schema: {type: string}
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
        - name: jobType
          in: query
          description: Filter jobs by job type.
          schema: {$ref: '#/components/schemas/JobType'}
        - $ref: '#/components/parameters/WorkspaceIds'
        - name: status
          in: query
          description: Filter jobs by status.
          schema: {$ref: '#/components/schemas/JobStatus'}
        - name: createdAtStart
          in: query
          description: Include jobs whose start time is at or after this RFC3339 timestamp.
          schema: {type: string}
        - name: createdAtEnd
          in: query
          description: Include jobs whose start time is at or before this RFC3339 timestamp.
          schema: {type: string}
        - name: updatedAtStart
          in: query
          description: Include jobs whose last update is at or after this RFC3339 timestamp.
          schema: {type: string}
        - name: updatedAtEnd
          in: query
          description: Include jobs whose last update is at or before this RFC3339 timestamp.
          schema: {type: string}
        - name: orderBy
          in: query
          description: Order by createdAt or updatedAt, ascending or descending.
          schema: {type: string, pattern: '^(createdAt|updatedAt)\|(ASC|DESC)$'}
      responses:
        '200':
          description: Jobs.
          content:
            application/json:
              schema: {$ref: '#/components/schemas/JobsResponse'}
        default: {$ref: '#/components/responses/Error'}
    post:
      operationId: createJob
      summary: Trigger a sync or reset job of a connection
      tags: [Jobs]
      requestBody:
        required: true
        content:
          application/json:
            schema: {$ref: '#/components/schemas/JobCreateRequest'}
      responses:
        '200':
          description: The job that was created.
          content:
            application/json:
              schema: {$ref: '#/components/schemas/JobResponse'}
        default: {$ref: '#/components/responses/Error'}
  /v1/jobs/{jobId}:
    get:
      operationId: getJob
      summary: Get job status and details
      tags: [Jobs]
      parameters:
        - $ref: '#/components/parameters/JobId'
      responses:
        '200':
          description: Job.
          content:
            application/json:
              schema: {$ref: '#/components/schemas/JobResponse'}
        default: {$ref: '#/components/responses/Error'}
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Environment- and service-scoped synthetic bearer token.
  parameters:
    WorkspaceIds:
      name: workspaceIds
      in: query
      description: Workspace ids to include. Empty returns every workspace.
      schema: {type: array, items: {type: string}}
      style: form
      explode: false
    IncludeDeleted:
      name: includeDeleted
      in: query
      description: Include deleted records. This curated surface stores no deleted rows, so the result is unchanged.
      schema: {type: boolean, default: false}
    Limit:
      name: limit
      in: query
      description: Page size. The default is 20.
      schema: {type: integer, minimum: 1, maximum: 100, default: 20}
    Offset:
      name: offset
      in: query
      description: Number of records to skip. The default is 0.
      schema: {type: integer, minimum: 0, default: 0}
    SourceId:
      name: sourceId
      in: path
      required: true
      schema: {type: string, minLength: 1}
    DestinationId:
      name: destinationId
      in: path
      required: true
      schema: {type: string, minLength: 1}
    ConnectionId:
      name: connectionId
      in: path
      required: true
      schema: {type: string, minLength: 1}
    JobId:
      name: jobId
      in: path
      required: true
      schema: {type: string, minLength: 1}
  responses:
    Error:
      description: Error.
      content:
        application/json:
          schema: {$ref: '#/components/schemas/ErrorModel'}
  schemas:
    ErrorModel:
      type: object
      additionalProperties: false
      required: [message]
      properties:
        message: {type: string}
    SourceConfiguration:
      type: object
      additionalProperties: false
      required: [sourceType]
      properties:
        sourceType: {type: string, minLength: 1}
        shop: {type: string}
    SourceResponse:
      type: object
      additionalProperties: false
      required: [sourceId, name, sourceType, workspaceId, configuration]
      properties:
        sourceId: {type: string}
        name: {type: string}
        sourceType: {type: string}
        workspaceId: {type: string}
        configuration: {$ref: '#/components/schemas/SourceConfiguration'}
    SourcesResponse:
      type: object
      additionalProperties: false
      required: [data]
      properties:
        previous: {type: string}
        next: {type: string}
        data: {type: array, items: {$ref: '#/components/schemas/SourceResponse'}}
    DestinationConfiguration:
      type: object
      additionalProperties: false
      required: [destinationType, host, database, schema]
      properties:
        destinationType: {type: string, minLength: 1}
        host: {type: string, minLength: 1}
        database: {type: string, minLength: 1}
        schema: {type: string, minLength: 1}
    DestinationResponse:
      type: object
      additionalProperties: false
      required: [destinationId, name, destinationType, workspaceId, configuration]
      properties:
        destinationId: {type: string}
        name: {type: string}
        destinationType: {type: string}
        workspaceId: {type: string}
        configuration: {$ref: '#/components/schemas/DestinationConfiguration'}
    DestinationsResponse:
      type: object
      additionalProperties: false
      required: [data]
      properties:
        previous: {type: string}
        next: {type: string}
        data: {type: array, items: {$ref: '#/components/schemas/DestinationResponse'}}
    ConnectionSchedule:
      type: object
      additionalProperties: false
      required: [scheduleType]
      properties:
        scheduleType: {type: string, enum: [manual, cron, basic]}
        cronExpression: {type: string}
        basicTiming: {type: string}
    StreamConfiguration:
      type: object
      additionalProperties: false
      required: [name]
      properties:
        name: {type: string, minLength: 1}
        syncMode:
          type: string
          enum: [full_refresh_overwrite, full_refresh_append, incremental_append, incremental_deduped_history]
    StreamConfigurations:
      type: object
      additionalProperties: false
      required: [streams]
      properties:
        streams: {type: array, items: {$ref: '#/components/schemas/StreamConfiguration'}}
    ConnectionResponse:
      type: object
      additionalProperties: false
      required: [connectionId, name, sourceId, destinationId, workspaceId, status, schedule, dataResidency, configurations, createdAt]
      properties:
        connectionId: {type: string}
        name: {type: string}
        sourceId: {type: string}
        destinationId: {type: string}
        workspaceId: {type: string}
        status: {type: string, enum: [active, inactive, deprecated]}
        schedule: {$ref: '#/components/schemas/ConnectionSchedule'}
        dataResidency: {type: string, enum: [auto, us, eu]}
        configurations: {$ref: '#/components/schemas/StreamConfigurations'}
        createdAt: {type: integer, format: int64}
    ConnectionsResponse:
      type: object
      additionalProperties: false
      required: [data]
      properties:
        previous: {type: string}
        next: {type: string}
        data: {type: array, items: {$ref: '#/components/schemas/ConnectionResponse'}}
    JobType:
      type: string
      description: The kind of job the platform runs.
      enum: [sync, reset]
    JobStatus:
      type: string
      enum: [pending, running, incomplete, failed, succeeded, cancelled]
    JobResponse:
      type: object
      additionalProperties: false
      required: [jobId, status, jobType, startTime]
      description: >-
        Published JobResponse requires an integer jobId and a connectionId and
        has no failure text. This curated response uses a string jobId, leaves
        connectionId optional, and adds sourceId plus failureReason.
      properties:
        jobId: {type: string}
        status: {$ref: '#/components/schemas/JobStatus'}
        jobType: {$ref: '#/components/schemas/JobType'}
        startTime: {type: string}
        connectionId: {type: string}
        sourceId: {type: string, description: Set when the job is tied to a source and the world names no connection.}
        lastUpdatedAt: {type: string}
        duration: {type: string, description: Duration of a sync in ISO-8601 format.}
        bytesSynced: {type: integer, format: int64}
        rowsSynced: {type: integer, format: int64}
        failureReason: {type: string, description: Present when status is failed.}
    JobsResponse:
      type: object
      additionalProperties: false
      required: [data]
      properties:
        previous: {type: string}
        next: {type: string}
        data: {type: array, items: {$ref: '#/components/schemas/JobResponse'}}
    JobCreateRequest:
      type: object
      additionalProperties: false
      required: [connectionId, jobType]
      properties:
        connectionId: {type: string, minLength: 1}
        jobType: {$ref: '#/components/schemas/JobType'}
