{"openapi":"3.0.3","info":{"title":"Google Drive API","version":"v3","description":"Converted from Google Discovery document (drive:v3).","x-origin":{"format":"google-discovery","url":"https://www.googleapis.com/drive/v3/"}},"servers":[{"url":"https://www.googleapis.com/drive/v3"}],"paths":{"/about":{"get":{"operationId":"drive.about.get","summary":"Gets information about the user, the user's Drive, and system capabilities. For more information, see [Return user info](https://developers.google.com/workspace/drive/api/guides/user-info). Required: ","responses":{"200":{"description":"OK"}}}},"/files/{fileId}/comments/{commentId}/replies":{"post":{"operationId":"drive.replies.create","summary":"Creates a reply to a comment. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments).","responses":{"200":{"description":"OK"}},"parameters":[{"name":"fileId","in":"path","required":true,"description":"The ID of the file.","schema":{"type":"string"}},{"name":"commentId","in":"path","required":true,"description":"The ID of the comment.","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Reply"}}}}},"get":{"operationId":"drive.replies.list","summary":"Lists a comment's replies. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments).","responses":{"200":{"description":"OK"}},"parameters":[{"name":"includeDeleted","in":"query","required":false,"description":"Whether to include deleted replies. Deleted replies don't include their original content.","schema":{"type":"boolean"}},{"name":"commentId","in":"path","required":true,"description":"The ID of the comment.","schema":{"type":"string"}},{"name":"pageToken","in":"query","required":false,"description":"The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response.","schema":{"type":"string"}},{"name":"fileId","in":"path","required":true,"description":"The ID of the file.","schema":{"type":"string"}},{"name":"pageSize","in":"query","required":false,"description":"The maximum number of replies to return. The service may return fewer than this value. If unspecified, at most 20 replies will be returned. The maximum value is 100; values above 100 will be coerced to 100.","schema":{"type":"integer"}}]}},"/files/{fileId}/comments/{commentId}/replies/{replyId}":{"get":{"operationId":"drive.replies.get","summary":"Gets a reply by ID. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments).","responses":{"200":{"description":"OK"}},"parameters":[{"name":"fileId","in":"path","required":true,"description":"The ID of the file.","schema":{"type":"string"}},{"name":"replyId","in":"path","required":true,"description":"The ID of the reply.","schema":{"type":"string"}},{"name":"includeDeleted","in":"query","required":false,"description":"Whether to return deleted replies. Deleted replies don't include their original content.","schema":{"type":"boolean"}},{"name":"commentId","in":"path","required":true,"description":"The ID of the comment.","schema":{"type":"string"}}]},"delete":{"operationId":"drive.replies.delete","summary":"Deletes a reply. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments).","responses":{"200":{"description":"OK"}},"parameters":[{"name":"commentId","in":"path","required":true,"description":"The ID of the comment.","schema":{"type":"string"}},{"name":"fileId","in":"path","required":true,"description":"The ID of the file.","schema":{"type":"string"}},{"name":"replyId","in":"path","required":true,"description":"The ID of the reply.","schema":{"type":"string"}}]},"patch":{"operationId":"drive.replies.update","summary":"Updates a reply with patch semantics. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments).","responses":{"200":{"description":"OK"}},"parameters":[{"name":"commentId","in":"path","required":true,"description":"The ID of the comment.","schema":{"type":"string"}},{"name":"fileId","in":"path","required":true,"description":"The ID of the file.","schema":{"type":"string"}},{"name":"replyId","in":"path","required":true,"description":"The ID of the reply.","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Reply"}}}}}},"/operations/{name}":{"get":{"operationId":"drive.operations.get","summary":"Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.","responses":{"200":{"description":"OK"}},"parameters":[{"name":"name","in":"path","required":true,"description":"The name of the operation resource.","schema":{"type":"string"}}]}},"/files/{fileId}/approvals:start":{"post":{"operationId":"drive.approvals.start","summary":"Starts an approval on a file. For more information, see [Manage approvals](https://developers.google.com/workspace/drive/api/guides/approvals).","responses":{"200":{"description":"OK"}},"parameters":[{"name":"fileId","in":"path","required":true,"description":"Required. The ID of the file that the approval is created on.","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StartApprovalRequest"}}}}}},"/files/{fileId}/approvals/{approvalId}:approve":{"post":{"operationId":"drive.approvals.approve","summary":"Approves an approval. For more information, see [Manage approvals](https://developers.google.com/workspace/drive/api/guides/approvals). This is used to update the ReviewerResponse of the requesting us","responses":{"200":{"description":"OK"}},"parameters":[{"name":"fileId","in":"path","required":true,"description":"Required. The ID of the file that the approval is on.","schema":{"type":"string"}},{"name":"approvalId","in":"path","required":true,"description":"Required. The ID of the approval to approve.","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApproveApprovalRequest"}}}}}},"/files/{fileId}/approvals/{approvalId}:decline":{"post":{"operationId":"drive.approvals.decline","summary":"Declines an approval. For more information, see [Manage approvals](https://developers.google.com/workspace/drive/api/guides/approvals). This is used to update the ReviewerResponse of the requesting us","responses":{"200":{"description":"OK"}},"parameters":[{"name":"fileId","in":"path","required":true,"description":"Required. The ID of the file that the approval is on.","schema":{"type":"string"}},{"name":"approvalId","in":"path","required":true,"description":"Required. The ID of the approval to decline.","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeclineApprovalRequest"}}}}}},"/files/{fileId}/approvals/{approvalId}:cancel":{"post":{"operationId":"drive.approvals.cancel","summary":"Cancels an approval. For more information, see [Manage approvals](https://developers.google.com/workspace/drive/api/guides/approvals). Updates the approval Status to `CANCELLED`. This can be called by","responses":{"200":{"description":"OK"}},"parameters":[{"name":"fileId","in":"path","required":true,"description":"Required. The ID of the file that the approval is on.","schema":{"type":"string"}},{"name":"approvalId","in":"path","required":true,"description":"Required. The ID of the approval to cancel.","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CancelApprovalRequest"}}}}}},"/files/{fileId}/approvals/{approvalId}:comment":{"post":{"operationId":"drive.approvals.comment","summary":"Comments on an approval. For more information, see [Manage approvals](https://developers.google.com/workspace/drive/api/guides/approvals). This sends a notification to both the initiator and the revie","responses":{"200":{"description":"OK"}},"parameters":[{"name":"fileId","in":"path","required":true,"description":"Required. The ID of the file that the approval is on.","schema":{"type":"string"}},{"name":"approvalId","in":"path","required":true,"description":"Required. The ID of the approval to comment on.","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentApprovalRequest"}}}}}},"/files/{fileId}/approvals/{approvalId}:reassign":{"post":{"operationId":"drive.approvals.reassign","summary":"Reassigns the reviewers on an approval. For more information, see [Manage approvals](https://developers.google.com/workspace/drive/api/guides/approvals). Adds or replaces reviewers in the ReviewerResp","responses":{"200":{"description":"OK"}},"parameters":[{"name":"fileId","in":"path","required":true,"description":"Required. The ID of the file that the approval is on.","schema":{"type":"string"}},{"name":"approvalId","in":"path","required":true,"description":"Required. The ID of the approval to reassign.","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReassignApprovalRequest"}}}}}},"/files/{fileId}/approvals":{"get":{"operationId":"drive.approvals.list","summary":"Lists the approvals on a file. For more information, see [Manage approvals](https://developers.google.com/workspace/drive/api/guides/approvals).","responses":{"200":{"description":"OK"}},"parameters":[{"name":"fileId","in":"path","required":true,"description":"Required. The ID of the file that the approval is on.","schema":{"type":"string"}},{"name":"pageSize","in":"query","required":false,"description":"The maximum number of approvals to return. When not set, at most 100 approvals are returned.","schema":{"type":"integer"}},{"name":"pageToken","in":"query","required":false,"description":"The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from a previous response.","schema":{"type":"string"}}]}},"/files/{fileId}/approvals/{approvalId}":{"get":{"operationId":"drive.approvals.get","summary":"Gets an approval by ID. For more information, see [Manage approvals](https://developers.google.com/workspace/drive/api/guides/approvals).","responses":{"200":{"description":"OK"}},"parameters":[{"name":"fileId","in":"path","required":true,"description":"Required. The ID of the file that the approval is on.","schema":{"type":"string"}},{"name":"approvalId","in":"path","required":true,"description":"Required. The ID of the approval.","schema":{"type":"string"}}]}},"/changes/startPageToken":{"get":{"operationId":"drive.changes.getStartPageToken","summary":"Gets the starting pageToken for listing future changes. For more information, see [Retrieve changes](https://developers.google.com/workspace/drive/api/guides/manage-changes).","responses":{"200":{"description":"OK"}},"parameters":[{"name":"driveId","in":"query","required":false,"description":"The ID of the shared drive for which the starting pageToken for listing future changes from that shared drive will be returned.","schema":{"type":"string"}},{"name":"teamDriveId","in":"query","required":false,"description":"Deprecated: Use `driveId` instead.","schema":{"type":"string"}},{"name":"supportsTeamDrives","in":"query","required":false,"description":"Deprecated: Use `supportsAllDrives` instead.","schema":{"type":"boolean"}},{"name":"supportsAllDrives","in":"query","required":false,"description":"Whether the requesting application supports both My Drives and shared drives.","schema":{"type":"boolean"}}]}},"/changes":{"get":{"operationId":"drive.changes.list","summary":"Lists the changes for a user or shared drive. For more information, see [Retrieve changes](https://developers.google.com/workspace/drive/api/guides/manage-changes).","responses":{"200":{"description":"OK"}},"parameters":[{"name":"includePermissionsForView","in":"query","required":false,"description":"Specifies which additional view's permissions to include in the response. Only 'published' is supported.","schema":{"type":"string"}},{"name":"includeCorpusRemovals","in":"query","required":false,"description":"Whether changes should include the file resource if the file is still accessible by the user at the time of the request, even when a file was removed from the list of changes and there will be no further change entries for this file.","schema":{"type":"boolean"}},{"name":"includeRemoved","in":"query","required":false,"description":"Whether to include changes indicating that items have been removed from the list of changes, for example by deletion or loss of access.","schema":{"type":"boolean"}},{"name":"includeTeamDriveItems","in":"query","required":false,"description":"Deprecated: Use `includeItemsFromAllDrives` instead.","schema":{"type":"boolean"}},{"name":"driveId","in":"query","required":false,"description":"The shared drive from which changes will be returned. If specified the change IDs will be reflective of the shared drive; use the combined drive ID and change ID as an identifier.","schema":{"type":"string"}},{"name":"pageSize","in":"query","required":false,"description":"The maximum number of changes to return. The service may return fewer than this value. If unspecified, at most 100 changes will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.","schema":{"type":"integer"}},{"name":"includeItemsFromAllDrives","in":"query","required":false,"description":"Whether both My Drive and shared drive items should be included in results.","schema":{"type":"boolean"}},{"name":"spaces","in":"query","required":false,"description":"A comma-separated list of spaces to query within the corpora. Supported values are 'drive' and 'appDataFolder'.","schema":{"type":"string"}},{"name":"supportsTeamDrives","in":"query","required":false,"description":"Deprecated: Use `supportsAllDrives` instead.","schema":{"type":"boolean"}},{"name":"restrictToMyDrive","in":"query","required":false,"description":"Whether to restrict the results to changes inside the My Drive hierarchy. This omits changes to files such as those in the Application Data folder or shared files which have not been added to My Drive.","schema":{"type":"boolean"}},{"name":"teamDriveId","in":"query","required":false,"description":"Deprecated: Use `driveId` instead.","schema":{"type":"string"}},{"name":"pageToken","in":"query","required":true,"description":"The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response or to the response from the getStartPageToken method.","schema":{"type":"string"}},{"name":"supportsAllDrives","in":"query","required":false,"description":"Whether the requesting application supports both My Drives and shared drives.","schema":{"type":"boolean"}},{"name":"includeLabels","in":"query","required":false,"description":"A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.","schema":{"type":"string"}}]}},"/changes/watch":{"post":{"operationId":"drive.changes.watch","summary":"Subscribes to changes for a user. For more information, see [Notifications for resource changes](https://developers.google.com/workspace/drive/api/guides/push).","responses":{"200":{"description":"OK"}},"parameters":[{"name":"includePermissionsForView","in":"query","required":false,"description":"Specifies which additional view's permissions to include in the response. Only 'published' is supported.","schema":{"type":"string"}},{"name":"driveId","in":"query","required":false,"description":"The shared drive from which changes will be returned. If specified the change IDs will be reflective of the shared drive; use the combined drive ID and change ID as an identifier.","schema":{"type":"string"}},{"name":"pageSize","in":"query","required":false,"description":"The maximum number of changes to return. The service may return fewer than this value. If unspecified, at most 100 changes will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.","schema":{"type":"integer"}},{"name":"includeCorpusRemovals","in":"query","required":false,"description":"Whether changes should include the file resource if the file is still accessible by the user at the time of the request, even when a file was removed from the list of changes and there will be no further change entries for this file.","schema":{"type":"boolean"}},{"name":"includeRemoved","in":"query","required":false,"description":"Whether to include changes indicating that items have been removed from the list of changes, for example by deletion or loss of access.","schema":{"type":"boolean"}},{"name":"includeTeamDriveItems","in":"query","required":false,"description":"Deprecated: Use `includeItemsFromAllDrives` instead.","schema":{"type":"boolean"}},{"name":"teamDriveId","in":"query","required":false,"description":"Deprecated: Use `driveId` instead.","schema":{"type":"string"}},{"name":"restrictToMyDrive","in":"query","required":false,"description":"Whether to restrict the results to changes inside the My Drive hierarchy. This omits changes to files such as those in the Application Data folder or shared files which have not been added to My Drive.","schema":{"type":"boolean"}},{"name":"supportsTeamDrives","in":"query","required":false,"description":"Deprecated: Use `supportsAllDrives` instead.","schema":{"type":"boolean"}},{"name":"spaces","in":"query","required":false,"description":"A comma-separated list of spaces to query within the corpora. Supported values are 'drive' and 'appDataFolder'.","schema":{"type":"string"}},{"name":"includeItemsFromAllDrives","in":"query","required":false,"description":"Whether both My Drive and shared drive items should be included in results.","schema":{"type":"boolean"}},{"name":"includeLabels","in":"query","required":false,"description":"A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.","schema":{"type":"string"}},{"name":"supportsAllDrives","in":"query","required":false,"description":"Whether the requesting application supports both My Drives and shared drives.","schema":{"type":"boolean"}},{"name":"pageToken","in":"query","required":true,"description":"The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response or to the response from the getStartPageToken method.","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Channel"}}}}}},"/files/{fileId}/revisions/{revisionId}":{"delete":{"operationId":"drive.revisions.delete","summary":"Permanently deletes a file version. You can only delete revisions for files with binary content in Google Drive, like images or videos. Revisions for other files, like Google Docs or Sheets, and the l","responses":{"200":{"description":"OK"}},"parameters":[{"name":"fileId","in":"path","required":true,"description":"The ID of the file.","schema":{"type":"string"}},{"name":"revisionId","in":"path","required":true,"description":"The ID of the revision.","schema":{"type":"string"}}]},"get":{"operationId":"drive.revisions.get","summary":"Gets a revision's metadata or content by ID. For more information, see [Manage file revisions](https://developers.google.com/workspace/drive/api/guides/manage-revisions).","responses":{"200":{"description":"OK"}},"parameters":[{"name":"fileId","in":"path","required":true,"description":"The ID of the file.","schema":{"type":"string"}},{"name":"revisionId","in":"path","required":true,"description":"The ID of the revision.","schema":{"type":"string"}},{"name":"acknowledgeAbuse","in":"query","required":false,"description":"Whether the user is acknowledging the risk of downloading known malware or other abusive files. This is only applicable when the `alt` parameter is set to `media` and the user is the owner of the file or an organizer of the shared drive in which the file resides.","schema":{"type":"boolean"}}]},"patch":{"operationId":"drive.revisions.update","summary":"Updates a revision with patch semantics. For more information, see [Manage file revisions](https://developers.google.com/workspace/drive/api/guides/manage-revisions).","responses":{"200":{"description":"OK"}},"parameters":[{"name":"fileId","in":"path","required":true,"description":"The ID of the file.","schema":{"type":"string"}},{"name":"revisionId","in":"path","required":true,"description":"The ID of the revision.","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Revision"}}}}}},"/files/{fileId}/revisions":{"get":{"operationId":"drive.revisions.list","summary":"Lists a file's revisions. For more information, see [Manage file revisions](https://developers.google.com/workspace/drive/api/guides/manage-revisions). **Important:** The list of revisions returned by","responses":{"200":{"description":"OK"}},"parameters":[{"name":"fileId","in":"path","required":true,"description":"The ID of the file.","schema":{"type":"string"}},{"name":"pageSize","in":"query","required":false,"description":"The maximum number of revisions to return. The service may return fewer than this value. If unspecified, at most 200 revisions will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.","schema":{"type":"integer"}},{"name":"pageToken","in":"query","required":false,"description":"The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response.","schema":{"type":"string"}}]}},"/drives/{driveId}/hide":{"post":{"operationId":"drive.drives.hide","summary":"Hides a shared drive from the default view. For more information, see [Manage shared drives](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives).","responses":{"200":{"description":"OK"}},"parameters":[{"name":"driveId","in":"path","required":true,"description":"The ID of the shared drive.","schema":{"type":"string"}}]}},"/drives/{driveId}/unhide":{"post":{"operationId":"drive.drives.unhide","summary":"Restores a shared drive to the default view. For more information, see [Manage shared drives](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives).","responses":{"200":{"description":"OK"}},"parameters":[{"name":"driveId","in":"path","required":true,"description":"The ID of the shared drive.","schema":{"type":"string"}}]}},"/drives/{driveId}":{"patch":{"operationId":"drive.drives.update","summary":"Updates the metadata for a shared drive. For more information, see [Manage shared drives](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives).","responses":{"200":{"description":"OK"}},"parameters":[{"name":"useDomainAdminAccess","in":"query","required":false,"description":"Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the shared drive belongs.","schema":{"type":"boolean"}},{"name":"driveId","in":"path","required":true,"description":"The ID of the shared drive.","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Drive"}}}}},"delete":{"operationId":"drive.drives.delete","summary":"Permanently deletes a shared drive for which the user is an `organizer`. The shared drive cannot contain any untrashed items. For more information, see [Manage shared drives](https://developers.google","responses":{"200":{"description":"OK"}},"parameters":[{"name":"driveId","in":"path","required":true,"description":"The ID of the shared drive.","schema":{"type":"string"}},{"name":"useDomainAdminAccess","in":"query","required":false,"description":"Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the shared drive belongs.","schema":{"type":"boolean"}},{"name":"allowItemDeletion","in":"query","required":false,"description":"Whether any items inside the shared drive should also be deleted. This option is only supported when `useDomainAdminAccess` is also set to `true`.","schema":{"type":"boolean"}}]},"get":{"operationId":"drive.drives.get","summary":"Gets a shared drive's metadata by ID. For more information, see [Manage shared drives](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives).","responses":{"200":{"description":"OK"}},"parameters":[{"name":"useDomainAdminAccess","in":"query","required":false,"description":"Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the shared drive belongs.","schema":{"type":"boolean"}},{"name":"driveId","in":"path","required":true,"description":"The ID of the shared drive.","schema":{"type":"string"}}]}},"/drives":{"get":{"operationId":"drive.drives.list","summary":" Lists the user's shared drives. This method accepts the `q` parameter, which is a search query combining one or more search terms. For more information, see the [Search for shared drives](https://dev","responses":{"200":{"description":"OK"}},"parameters":[{"name":"pageToken","in":"query","required":false,"description":"Page token for shared drives.","schema":{"type":"string"}},{"name":"q","in":"query","required":false,"description":"Query string for searching shared drives.","schema":{"type":"string"}},{"name":"useDomainAdminAccess","in":"query","required":false,"description":"Issue the request as a domain administrator; if set to true, then all shared drives of the domain in which the requester is an administrator are returned.","schema":{"type":"boolean"}},{"name":"pageSize","in":"query","required":false,"description":"The maximum number of shared drives to return. The service may return fewer than this value. If unspecified, at most 10 shared drives will be returned. The maximum value is 100; values above 100 will be coerced to 100.","schema":{"type":"integer"}}]},"post":{"operationId":"drive.drives.create","summary":"Creates a shared drive. For more information, see [Manage shared drives](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives).","responses":{"200":{"description":"OK"}},"parameters":[{"name":"requestId","in":"query","required":true,"description":"Required. An ID, such as a random UUID, which uniquely identifies this user's request for idempotent creation of a shared drive. A repeated request by the same user and with the same request ID will avoid creating duplicates by attempting to create the same shared drive. If the shared drive already exists a 409 error will be returned.","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Drive"}}}}}},"/files/{fileId}":{"delete":{"operationId":"drive.files.delete","summary":"Permanently deletes a file owned by the user without moving it to the trash. For more information, see [Trash or delete files and folders](https://developers.google.com/workspace/drive/api/guides/dele","responses":{"200":{"description":"OK"}},"parameters":[{"name":"fileId","in":"path","required":true,"description":"The ID of the file.","schema":{"type":"string"}},{"name":"supportsAllDrives","in":"query","required":false,"description":"Whether the requesting application supports both My Drives and shared drives.","schema":{"type":"boolean"}},{"name":"enforceSingleParent","in":"query","required":false,"description":"Deprecated: If an item isn't in a shared drive and its last parent is deleted but the item itself isn't, the item will be placed under its owner's root.","schema":{"type":"boolean"}},{"name":"supportsTeamDrives","in":"query","required":false,"description":"Deprecated: Use `supportsAllDrives` instead.","schema":{"type":"boolean"}}]},"get":{"operationId":"drive.files.get","summary":" Gets a file's metadata or content by ID. For more information, see [Search for files and folders](https://developers.google.com/workspace/drive/api/guides/search-files). If you provide the URL parame","responses":{"200":{"description":"OK"}},"parameters":[{"name":"acknowledgeAbuse","in":"query","required":false,"description":"Whether the user is acknowledging the risk of downloading known malware or other abusive files. This is only applicable when the `alt` parameter is set to `media` and the user is the owner of the file or an organizer of the shared drive in which the file resides.","schema":{"type":"boolean"}},{"name":"supportsAllDrives","in":"query","required":false,"description":"Whether the requesting application supports both My Drives and shared drives.","schema":{"type":"boolean"}},{"name":"includePermissionsForView","in":"query","required":false,"description":"Specifies which additional view's permissions to include in the response. Only `published` is supported.","schema":{"type":"string"}},{"name":"supportsTeamDrives","in":"query","required":false,"description":"Deprecated: Use `supportsAllDrives` instead.","schema":{"type":"boolean"}},{"name":"includeLabels","in":"query","required":false,"description":"A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.","schema":{"type":"string"}},{"name":"fileId","in":"path","required":true,"description":"The ID of the file.","schema":{"type":"string"}}]},"patch":{"operationId":"drive.files.update","summary":" Updates a file's metadata, content, or both. When calling this method, only populate fields in the request that you want to modify. When updating fields, some fields might be changed automatically, s","responses":{"200":{"description":"OK"}},"parameters":[{"name":"ocrLanguage","in":"query","required":false,"description":"A language hint for OCR processing during image import (ISO 639-1 code).","schema":{"type":"string"}},{"name":"includeLabels","in":"query","required":false,"description":"A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.","schema":{"type":"string"}},{"name":"removeParents","in":"query","required":false,"description":"A comma-separated list of parent IDs to remove.","schema":{"type":"string"}},{"name":"supportsAllDrives","in":"query","required":false,"description":"Whether the requesting application supports both My Drives and shared drives.","schema":{"type":"boolean"}},{"name":"useContentAsIndexableText","in":"query","required":false,"description":"Whether to use the uploaded content as indexable text.","schema":{"type":"boolean"}},{"name":"keepRevisionForever","in":"query","required":false,"description":"Whether to set the `keepForever` field in the new head revision. This is only applicable to files with binary content in Google Drive. Only 200 revisions for the file can be kept forever. If the limit is reached, try deleting pinned revisions.","schema":{"type":"boolean"}},{"name":"enforceSingleParent","in":"query","required":false,"description":"Deprecated: Adding files to multiple folders is no longer supported. Use shortcuts instead.","schema":{"type":"boolean"}},{"name":"addParents","in":"query","required":false,"description":"A comma-separated list of parent IDs to add.","schema":{"type":"string"}},{"name":"fileId","in":"path","required":true,"description":"The ID of the file.","schema":{"type":"string"}},{"name":"includePermissionsForView","in":"query","required":false,"description":"Specifies which additional view's permissions to include in the response. Only `published` is supported.","schema":{"type":"string"}},{"name":"supportsTeamDrives","in":"query","required":false,"description":"Deprecated: Use `supportsAllDrives` instead.","schema":{"type":"boolean"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/File"}}}}}},"/files/{fileId}/download":{"post":{"operationId":"drive.files.download","summary":"Downloads the content of a file. For more information, see [Download and export files](https://developers.google.com/workspace/drive/api/guides/manage-downloads). Operations are valid for 24 hours fro","responses":{"200":{"description":"OK"}},"parameters":[{"name":"fileId","in":"path","required":true,"description":"Required. The ID of the file to download.","schema":{"type":"string"}},{"name":"mimeType","in":"query","required":false,"description":"Optional. The MIME type the file should be downloaded as. This field can only be set when downloading Google Workspace documents. For a list of supported MIME types, see [Export MIME types for Google Workspace documents](/workspace/drive/api/guides/ref-export-formats). If not set, a Google Workspace document is downloaded with a default MIME type. The default MIME type might change in the future.","schema":{"type":"string"}},{"name":"revisionId","in":"query","required":false,"description":"Optional. The revision ID of the file to download. This field can only be set when downloading blob files, Google Docs, and Google Sheets. Returns `INVALID_ARGUMENT` if downloading a specific revision on the file is unsupported.","schema":{"type":"string"}}]}},"/files/{fileId}/watch":{"post":{"operationId":"drive.files.watch","summary":"Subscribes to changes to a file. For more information, see [Notifications for resource changes](https://developers.google.com/workspace/drive/api/guides/push).","responses":{"200":{"description":"OK"}},"parameters":[{"name":"supportsAllDrives","in":"query","required":false,"description":"Whether the requesting application supports both My Drives and shared drives.","schema":{"type":"boolean"}},{"name":"acknowledgeAbuse","in":"query","required":false,"description":"Whether the user is acknowledging the risk of downloading known malware or other abusive files. This is only applicable when the `alt` parameter is set to `media` and the user is the owner of the file or an organizer of the shared drive in which the file resides.","schema":{"type":"boolean"}},{"name":"includePermissionsForView","in":"query","required":false,"description":"Specifies which additional view's permissions to include in the response. Only `published` is supported.","schema":{"type":"string"}},{"name":"supportsTeamDrives","in":"query","required":false,"description":"Deprecated: Use `supportsAllDrives` instead.","schema":{"type":"boolean"}},{"name":"includeLabels","in":"query","required":false,"description":"A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.","schema":{"type":"string"}},{"name":"fileId","in":"path","required":true,"description":"The ID of the file.","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Channel"}}}}}},"/files/{fileId}/listLabels":{"get":{"operationId":"drive.files.listLabels","summary":"Lists the labels on a file. For more information, see [List labels on a file](https://developers.google.com/workspace/drive/api/guides/list-labels).","responses":{"200":{"description":"OK"}},"parameters":[{"name":"fileId","in":"path","required":true,"description":"The ID for the file.","schema":{"type":"string"}},{"name":"maxResults","in":"query","required":false,"description":"The maximum number of labels to return per page. When not set, defaults to 100.","schema":{"type":"integer"}},{"name":"pageToken","in":"query","required":false,"description":"The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response.","schema":{"type":"string"}}]}},"/files":{"get":{"operationId":"drive.files.list","summary":" Lists the user's files. For more information, see [Search for files and folders](https://developers.google.com/workspace/drive/api/guides/search-files). This method accepts the `q` parameter, which i","responses":{"200":{"description":"OK"}},"parameters":[{"name":"includePermissionsForView","in":"query","required":false,"description":"Specifies which additional view's permissions to include in the response. Only `published` is supported.","schema":{"type":"string"}},{"name":"corpora","in":"query","required":false,"description":"Specifies a collection of items (files or documents) to which the query applies. Supported items include: * `user` * `domain` * `drive` * `allDrives` Prefer `user` or `drive` to `allDrives` for efficiency. By default, corpora is set to `user`. However, this can change depending on the filter set through the `q` parameter. For more information, see [File organization](https://developers.google.com/workspace/drive/api/guides/about-files#file-organization).","schema":{"type":"string"}},{"name":"q","in":"query","required":false,"description":"A query for filtering the file results. For supported syntax, see [Search for files and folders](/workspace/drive/api/guides/search-files).","schema":{"type":"string"}},{"name":"corpus","in":"query","required":false,"description":"Deprecated: The source of files to list. Use `corpora` instead.","schema":{"type":"string","enum":["domain","user"]}},{"name":"driveId","in":"query","required":false,"description":"ID of the shared drive to search.","schema":{"type":"string"}},{"name":"pageSize","in":"query","required":false,"description":"The maximum number of files to return. The service may return fewer than this value. If unspecified, at most 100 files will be returned for shared drives, and the entire list of files for non-shared drives. The maximum value is 1000; values above 1000 will be coerced to 1000.","schema":{"type":"integer"}},{"name":"includeTeamDriveItems","in":"query","required":false,"description":"Deprecated: Use `includeItemsFromAllDrives` instead.","schema":{"type":"boolean"}},{"name":"supportsTeamDrives","in":"query","required":false,"description":"Deprecated: Use `supportsAllDrives` instead.","schema":{"type":"boolean"}},{"name":"teamDriveId","in":"query","required":false,"description":"Deprecated: Use `driveId` instead.","schema":{"type":"string"}},{"name":"spaces","in":"query","required":false,"description":"A comma-separated list of spaces to query within the corpora. Supported values are `drive` and `appDataFolder`. For more information, see [File organization](https://developers.google.com/workspace/drive/api/guides/about-files#file-organization).","schema":{"type":"string"}},{"name":"includeItemsFromAllDrives","in":"query","required":false,"description":"Whether both My Drive and shared drive items should be included in results.","schema":{"type":"boolean"}},{"name":"supportsAllDrives","in":"query","required":false,"description":"Whether the requesting application supports both My Drives and shared drives.","schema":{"type":"boolean"}},{"name":"includeLabels","in":"query","required":false,"description":"A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.","schema":{"type":"string"}},{"name":"orderBy","in":"query","required":false,"description":"A comma-separated list of sort keys. Valid keys are: * `createdTime`: When the file was created. Avoid using this key for queries on large item collections as it might result in timeouts or other issues. For time-related sorting on large item collections, use `modifiedTime desc` instead. * `folder`: The folder ID. This field is sorted using alphabetical ordering. * `modifiedByMeTime`: The last time the file was modified by the user. * `modifiedTime`: The last time the file was modified by anyone. * `name`: The name of the file. This field is sorted using alphabetical ordering, so 1, 12, 2, 22. * `name_natural`: The name of the file. This field is sorted using natural sort ordering, so 1, 2, 12, 22. * `quotaBytesUsed`: The number of storage quota bytes used by the file. * `recency`: The most recent timestamp from the file's date-time fields. * `sharedWithMeTime`: When the file was shared with the user, if applicable. * `starred`: Whether the user has starred the file. * `viewedByMeTime`: The last time the file was viewed by the user. Each key sorts ascending by default, but can be reversed with the `desc` modifier. Example usage: `?orderBy=folder,modifiedTime desc,name`.","schema":{"type":"string"}},{"name":"pageToken","in":"query","required":false,"description":"The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response.","schema":{"type":"string"}}]},"post":{"operationId":"drive.files.create","summary":" Creates a file. For more information, see [Create and manage files](https://developers.google.com/workspace/drive/api/guides/create-file). This method supports an */upload* URI and accepts uploaded m","responses":{"200":{"description":"OK"}},"parameters":[{"name":"ignoreDefaultVisibility","in":"query","required":false,"description":"Whether to ignore the domain's default visibility settings for the created file. Domain administrators can choose to make all uploaded files visible to the domain by default; this parameter bypasses that behavior for the request. Permissions are still inherited from parent folders.","schema":{"type":"boolean"}},{"name":"ocrLanguage","in":"query","required":false,"description":"A language hint for OCR processing during image import (ISO 639-1 code).","schema":{"type":"string"}},{"name":"includeLabels","in":"query","required":false,"description":"A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.","schema":{"type":"string"}},{"name":"supportsAllDrives","in":"query","required":false,"description":"Whether the requesting application supports both My Drives and shared drives.","schema":{"type":"boolean"}},{"name":"useContentAsIndexableText","in":"query","required":false,"description":"Whether to use the uploaded content as indexable text.","schema":{"type":"boolean"}},{"name":"keepRevisionForever","in":"query","required":false,"description":"Whether to set the `keepForever` field in the new head revision. This is only applicable to files with binary content in Google Drive. Only 200 revisions for the file can be kept forever. If the limit is reached, try deleting pinned revisions.","schema":{"type":"boolean"}},{"name":"enforceSingleParent","in":"query","required":false,"description":"Deprecated: Creating files in multiple folders is no longer supported.","schema":{"type":"boolean"}},{"name":"includePermissionsForView","in":"query","required":false,"description":"Specifies which additional view's permissions to include in the response. Only `published` is supported.","schema":{"type":"string"}},{"name":"supportsTeamDrives","in":"query","required":false,"description":"Deprecated: Use `supportsAllDrives` instead.","schema":{"type":"boolean"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/File"}}}}}},"/files/{fileId}/modifyLabels":{"post":{"operationId":"drive.files.modifyLabels","summary":"Modifies the set of labels applied to a file. For more information, see [Set a label field on a file](https://developers.google.com/workspace/drive/api/guides/set-label). Returns a list of the labels ","responses":{"200":{"description":"OK"}},"parameters":[{"name":"fileId","in":"path","required":true,"description":"The ID of the file to which the labels belong.","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ModifyLabelsRequest"}}}}}},"/files/{fileId}/export":{"get":{"operationId":"drive.files.export","summary":"Exports a Google Workspace document to the requested MIME type and returns exported byte content. For more information, see [Download and export files](https://developers.google.com/workspace/drive/ap","responses":{"200":{"description":"OK"}},"parameters":[{"name":"fileId","in":"path","required":true,"description":"The ID of the file.","schema":{"type":"string"}},{"name":"mimeType","in":"query","required":true,"description":"Required. The MIME type of the format requested for this export. For a list of supported MIME types, see [Export MIME types for Google Workspace documents](/workspace/drive/api/guides/ref-export-formats).","schema":{"type":"string"}}]}},"/files/generateCseToken":{"get":{"operationId":"drive.files.generateCseToken","summary":"Generates a CSE token which can be used to create or update CSE files.","responses":{"200":{"description":"OK"}},"parameters":[{"name":"fileId","in":"query","required":false,"description":"The ID of the file for which the JWT should be generated. If not provided, an id will be generated.","schema":{"type":"string"}},{"name":"parent","in":"query","required":false,"description":"The ID of the expected parent of the file. Used when generating a JWT for a new CSE file. If specified, the parent will be fetched, and if the parent is a shared drive item, the shared drive's policy will be used to determine the KACLS that should be used. It is invalid to specify both file_id and parent in a single request.","schema":{"type":"string"}}]}},"/files/trash":{"delete":{"operationId":"drive.files.emptyTrash","summary":"Permanently deletes all of the user's trashed files. For more information, see [Trash or delete files and folders](https://developers.google.com/workspace/drive/api/guides/delete).","responses":{"200":{"description":"OK"}},"parameters":[{"name":"enforceSingleParent","in":"query","required":false,"description":"Deprecated: If an item isn't in a shared drive and its last parent is deleted but the item itself isn't, the item will be placed under its owner's root.","schema":{"type":"boolean"}},{"name":"driveId","in":"query","required":false,"description":"If set, empties the trash of the provided shared drive.","schema":{"type":"string"}}]}},"/files/generateIds":{"get":{"operationId":"drive.files.generateIds","summary":"Generates a set of file IDs which can be provided in create or copy requests. For more information, see [Create and manage files](https://developers.google.com/workspace/drive/api/guides/create-file).","responses":{"200":{"description":"OK"}},"parameters":[{"name":"type","in":"query","required":false,"description":"The type of items which the IDs can be used for. Supported values are `files` and `shortcuts`. Note that `shortcuts` are only supported in the `drive` `space`. (Default: `files`.) For more information, see [File organization](https://developers.google.com/workspace/drive/api/guides/about-files#file-organization).","schema":{"type":"string"}},{"name":"count","in":"query","required":false,"description":"The number of IDs to return.","schema":{"type":"integer"}},{"name":"space","in":"query","required":false,"description":"The space in which the IDs can be used to create files. Supported values are `drive` and `appDataFolder`. (Default: `drive`.) For more information, see [File organization](https://developers.google.com/workspace/drive/api/guides/about-files#file-organization).","schema":{"type":"string"}}]}},"/files/{fileId}/copy":{"post":{"operationId":"drive.files.copy","summary":"Creates a copy of a file and applies any requested updates with patch semantics. For more information, see [Create and manage files](https://developers.google.com/workspace/drive/api/guides/create-fil","responses":{"200":{"description":"OK"}},"parameters":[{"name":"supportsAllDrives","in":"query","required":false,"description":"Whether the requesting application supports both My Drives and shared drives.","schema":{"type":"boolean"}},{"name":"includeLabels","in":"query","required":false,"description":"A comma-separated list of IDs of labels to include in the `labelInfo` part of the response.","schema":{"type":"string"}},{"name":"ignoreDefaultVisibility","in":"query","required":false,"description":"Whether to ignore the domain's default visibility settings for the created file. Domain administrators can choose to make all uploaded files visible to the domain by default; this parameter bypasses that behavior for the request. Permissions are still inherited from parent folders.","schema":{"type":"boolean"}},{"name":"ocrLanguage","in":"query","required":false,"description":"A language hint for OCR processing during image import (ISO 639-1 code).","schema":{"type":"string"}},{"name":"supportsTeamDrives","in":"query","required":false,"description":"Deprecated: Use `supportsAllDrives` instead.","schema":{"type":"boolean"}},{"name":"includePermissionsForView","in":"query","required":false,"description":"Specifies which additional view's permissions to include in the response. Only `published` is supported.","schema":{"type":"string"}},{"name":"fileId","in":"path","required":true,"description":"The ID of the file.","schema":{"type":"string"}},{"name":"enforceSingleParent","in":"query","required":false,"description":"Deprecated: Copying files into multiple folders is no longer supported. Use shortcuts instead.","schema":{"type":"boolean"}},{"name":"keepRevisionForever","in":"query","required":false,"description":"Whether to set the `keepForever` field in the new head revision. This is only applicable to files with binary content in Google Drive. Only 200 revisions for the file can be kept forever. If the limit is reached, try deleting pinned revisions.","schema":{"type":"boolean"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/File"}}}}}},"/channels/stop":{"post":{"operationId":"drive.channels.stop","summary":"Stops watching resources through this channel. For more information, see [Notifications for resource changes](https://developers.google.com/workspace/drive/api/guides/push).","responses":{"200":{"description":"OK"}},"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Channel"}}}}}},"/apps":{"get":{"operationId":"drive.apps.list","summary":"Lists a user's installed apps. For more information, see [Return user info](https://developers.google.com/workspace/drive/api/guides/user-info).","responses":{"200":{"description":"OK"}},"parameters":[{"name":"appFilterExtensions","in":"query","required":false,"description":"A comma-separated list of file extensions to limit returned results. All results within the given app query scope which can open any of the given file extensions are included in the response. If `appFilterMimeTypes` are provided as well, the result is a union of the two resulting app lists.","schema":{"type":"string"}},{"name":"appFilterMimeTypes","in":"query","required":false,"description":"A comma-separated list of file extensions to limit returned results. All results within the given app query scope which can open any of the given MIME types will be included in the response. If `appFilterExtensions` are provided as well, the result is a union of the two resulting app lists.","schema":{"type":"string"}},{"name":"languageCode","in":"query","required":false,"description":"A language or locale code, as defined by BCP 47, with some extensions from Unicode's LDML format (http://www.unicode.org/reports/tr35/).","schema":{"type":"string"}}]}},"/apps/{appId}":{"get":{"operationId":"drive.apps.get","summary":"Gets a specific app. For more information, see [Return user info](https://developers.google.com/workspace/drive/api/guides/user-info).","responses":{"200":{"description":"OK"}},"parameters":[{"name":"appId","in":"path","required":true,"description":"The ID of the app.","schema":{"type":"string"}}]}},"/teamdrives/{teamDriveId}":{"delete":{"operationId":"drive.teamdrives.delete","summary":"Deprecated: Use `drives.delete` instead.","responses":{"200":{"description":"OK"}},"parameters":[{"name":"teamDriveId","in":"path","required":true,"description":"The ID of the Team Drive","schema":{"type":"string"}}]},"get":{"operationId":"drive.teamdrives.get","summary":"Deprecated: Use `drives.get` instead.","responses":{"200":{"description":"OK"}},"parameters":[{"name":"teamDriveId","in":"path","required":true,"description":"The ID of the Team Drive","schema":{"type":"string"}},{"name":"useDomainAdminAccess","in":"query","required":false,"description":"Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the Team Drive belongs.","schema":{"type":"boolean"}}]},"patch":{"operationId":"drive.teamdrives.update","summary":"Deprecated: Use `drives.update` instead.","responses":{"200":{"description":"OK"}},"parameters":[{"name":"teamDriveId","in":"path","required":true,"description":"The ID of the Team Drive","schema":{"type":"string"}},{"name":"useDomainAdminAccess","in":"query","required":false,"description":"Issue the request as a domain administrator; if set to true, then the requester will be granted access if they are an administrator of the domain to which the Team Drive belongs.","schema":{"type":"boolean"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamDrive"}}}}}},"/teamdrives":{"post":{"operationId":"drive.teamdrives.create","summary":"Deprecated: Use `drives.create` instead.","responses":{"200":{"description":"OK"}},"parameters":[{"name":"requestId","in":"query","required":true,"description":"Required. An ID, such as a random UUID, which uniquely identifies this user's request for idempotent creation of a Team Drive. A repeated request by the same user and with the same request ID will avoid creating duplicates by attempting to create the same Team Drive. If the Team Drive already exists a 409 error will be returned.","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamDrive"}}}}},"get":{"operationId":"drive.teamdrives.list","summary":"Deprecated: Use `drives.list` instead.","responses":{"200":{"description":"OK"}},"parameters":[{"name":"pageSize","in":"query","required":false,"description":"Maximum number of Team Drives to return.","schema":{"type":"integer"}},{"name":"pageToken","in":"query","required":false,"description":"Page token for Team Drives.","schema":{"type":"string"}},{"name":"q","in":"query","required":false,"description":"Query string for searching Team Drives.","schema":{"type":"string"}},{"name":"useDomainAdminAccess","in":"query","required":false,"description":"Issue the request as a domain administrator; if set to true, then all Team Drives of the domain in which the requester is an administrator are returned.","schema":{"type":"boolean"}}]}},"/files/{fileId}/accessproposals/{proposalId}:resolve":{"post":{"operationId":"drive.accessproposals.resolve","summary":"Approves or denies an access proposal. For more information, see [Manage pending access proposals](https://developers.google.com/workspace/drive/api/guides/pending-access).","responses":{"200":{"description":"OK"}},"parameters":[{"name":"proposalId","in":"path","required":true,"description":"Required. The ID of the access proposal to resolve.","schema":{"type":"string"}},{"name":"fileId","in":"path","required":true,"description":"Required. The ID of the item the request is on.","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResolveAccessProposalRequest"}}}}}},"/files/{fileId}/accessproposals/{proposalId}":{"get":{"operationId":"drive.accessproposals.get","summary":"Retrieves an access proposal by ID. For more information, see [Manage pending access proposals](https://developers.google.com/workspace/drive/api/guides/pending-access).","responses":{"200":{"description":"OK"}},"parameters":[{"name":"proposalId","in":"path","required":true,"description":"Required. The ID of the access proposal to resolve.","schema":{"type":"string"}},{"name":"fileId","in":"path","required":true,"description":"Required. The ID of the item the request is on.","schema":{"type":"string"}}]}},"/files/{fileId}/accessproposals":{"get":{"operationId":"drive.accessproposals.list","summary":"List the access proposals on a file. For more information, see [Manage pending access proposals](https://developers.google.com/workspace/drive/api/guides/pending-access). Note: Only approvers are able","responses":{"200":{"description":"OK"}},"parameters":[{"name":"fileId","in":"path","required":true,"description":"Required. The ID of the item the request is on.","schema":{"type":"string"}},{"name":"pageSize","in":"query","required":false,"description":"Optional. The number of results per page.","schema":{"type":"integer"}},{"name":"pageToken","in":"query","required":false,"description":"Optional. The continuation token on the list of access requests.","schema":{"type":"string"}}]}},"/files/{fileId}/comments/{commentId}":{"patch":{"operationId":"drive.comments.update","summary":"Updates a comment with patch semantics. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments). Required: The `fields` parame","responses":{"200":{"description":"OK"}},"parameters":[{"name":"fileId","in":"path","required":true,"description":"The ID of the file.","schema":{"type":"string"}},{"name":"commentId","in":"path","required":true,"description":"The ID of the comment.","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Comment"}}}}},"get":{"operationId":"drive.comments.get","summary":"Gets a comment by ID. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments). Required: The `fields` parameter must be set. T","responses":{"200":{"description":"OK"}},"parameters":[{"name":"fileId","in":"path","required":true,"description":"The ID of the file.","schema":{"type":"string"}},{"name":"includeDeleted","in":"query","required":false,"description":"Whether to return deleted comments. Deleted comments will not include their original content.","schema":{"type":"boolean"}},{"name":"commentId","in":"path","required":true,"description":"The ID of the comment.","schema":{"type":"string"}}]},"delete":{"operationId":"drive.comments.delete","summary":"Deletes a comment. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments).","responses":{"200":{"description":"OK"}},"parameters":[{"name":"fileId","in":"path","required":true,"description":"The ID of the file.","schema":{"type":"string"}},{"name":"commentId","in":"path","required":true,"description":"The ID of the comment.","schema":{"type":"string"}}]}},"/files/{fileId}/comments":{"get":{"operationId":"drive.comments.list","summary":"Lists a file's comments. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments). Required: The `fields` parameter must be set","responses":{"200":{"description":"OK"}},"parameters":[{"name":"pageToken","in":"query","required":false,"description":"The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response.","schema":{"type":"string"}},{"name":"includeDeleted","in":"query","required":false,"description":"Whether to include deleted comments. Deleted comments will not include their original content.","schema":{"type":"boolean"}},{"name":"fileId","in":"path","required":true,"description":"The ID of the file.","schema":{"type":"string"}},{"name":"pageSize","in":"query","required":false,"description":"The maximum number of comments to return. The service may return fewer than this value. If unspecified, at most 20 comments will be returned. The maximum value is 100; values above 100 will be coerced to 100.","schema":{"type":"integer"}},{"name":"startModifiedTime","in":"query","required":false,"description":"The minimum value of 'modifiedTime' for the result comments (RFC 3339 date-time).","schema":{"type":"string"}}]},"post":{"operationId":"drive.comments.create","summary":"Creates a comment on a file. For more information, see [Manage comments and replies](https://developers.google.com/workspace/drive/api/guides/manage-comments). Required: The `fields` parameter must be","responses":{"200":{"description":"OK"}},"parameters":[{"name":"fileId","in":"path","required":true,"description":"The ID of the file.","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Comment"}}}}}},"/files/{fileId}/permissions/{permissionId}":{"delete":{"operationId":"drive.permissions.delete","summary":"Deletes a permission. For more information, see [Share files, folders, and drives](https://developers.google.com/workspace/drive/api/guides/manage-sharing). **Warning:** Concurrent permissions operati","responses":{"200":{"description":"OK"}},"parameters":[{"name":"enforceExpansiveAccess","in":"query","required":false,"description":"Deprecated: All requests use the expansive access rules.","schema":{"type":"boolean"}},{"name":"permissionId","in":"path","required":true,"description":"The ID of the permission.","schema":{"type":"string"}},{"name":"supportsTeamDrives","in":"query","required":false,"description":"Deprecated: Use `supportsAllDrives` instead.","schema":{"type":"boolean"}},{"name":"supportsAllDrives","in":"query","required":false,"description":"Whether the requesting application supports both My Drives and shared drives.","schema":{"type":"boolean"}},{"name":"useDomainAdminAccess","in":"query","required":false,"description":"Issue the request as a domain administrator. If set to `true`, and if the following additional conditions are met, the requester is granted access: 1. The file ID parameter refers to a shared drive. 2. The requester is an administrator of the domain to which the shared drive belongs. For more information, see [Manage shared drives as domain administrators](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives#manage-administrators).","schema":{"type":"boolean"}},{"name":"fileId","in":"path","required":true,"description":"The ID of the file or shared drive.","schema":{"type":"string"}}]},"get":{"operationId":"drive.permissions.get","summary":"Gets a permission by ID. For more information, see [Share files, folders, and drives](https://developers.google.com/workspace/drive/api/guides/manage-sharing).","responses":{"200":{"description":"OK"}},"parameters":[{"name":"fileId","in":"path","required":true,"description":"The ID of the file.","schema":{"type":"string"}},{"name":"supportsTeamDrives","in":"query","required":false,"description":"Deprecated: Use `supportsAllDrives` instead.","schema":{"type":"boolean"}},{"name":"supportsAllDrives","in":"query","required":false,"description":"Whether the requesting application supports both My Drives and shared drives.","schema":{"type":"boolean"}},{"name":"useDomainAdminAccess","in":"query","required":false,"description":"Issue the request as a domain administrator. If set to `true`, and if the following additional conditions are met, the requester is granted access: 1. The file ID parameter refers to a shared drive. 2. The requester is an administrator of the domain to which the shared drive belongs. For more information, see [Manage shared drives as domain administrators](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives#manage-administrators).","schema":{"type":"boolean"}},{"name":"permissionId","in":"path","required":true,"description":"The ID of the permission.","schema":{"type":"string"}}]},"patch":{"operationId":"drive.permissions.update","summary":"Updates a permission with patch semantics. For more information, see [Share files, folders, and drives](https://developers.google.com/workspace/drive/api/guides/manage-sharing). **Warning:** Concurren","responses":{"200":{"description":"OK"}},"parameters":[{"name":"supportsAllDrives","in":"query","required":false,"description":"Whether the requesting application supports both My Drives and shared drives.","schema":{"type":"boolean"}},{"name":"useDomainAdminAccess","in":"query","required":false,"description":"Issue the request as a domain administrator. If set to `true`, and if the following additional conditions are met, the requester is granted access: 1. The file ID parameter refers to a shared drive. 2. The requester is an administrator of the domain to which the shared drive belongs. For more information, see [Manage shared drives as domain administrators](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives#manage-administrators).","schema":{"type":"boolean"}},{"name":"supportsTeamDrives","in":"query","required":false,"description":"Deprecated: Use `supportsAllDrives` instead.","schema":{"type":"boolean"}},{"name":"removeExpiration","in":"query","required":false,"description":"Whether to remove the expiration date.","schema":{"type":"boolean"}},{"name":"fileId","in":"path","required":true,"description":"The ID of the file or shared drive.","schema":{"type":"string"}},{"name":"enforceExpansiveAccess","in":"query","required":false,"description":"Deprecated: All requests use the expansive access rules.","schema":{"type":"boolean"}},{"name":"transferOwnership","in":"query","required":false,"description":"Whether to transfer ownership to the specified user and downgrade the current owner to a writer. This parameter is required as an acknowledgement of the side effect. For more information, see [Transfer file ownership](https://developers.google.com//workspace/drive/api/guides/transfer-file).","schema":{"type":"boolean"}},{"name":"permissionId","in":"path","required":true,"description":"The ID of the permission.","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Permission"}}}}}},"/files/{fileId}/permissions":{"get":{"operationId":"drive.permissions.list","summary":"Lists a file's or shared drive's permissions. For more information, see [Share files, folders, and drives](https://developers.google.com/workspace/drive/api/guides/manage-sharing).","responses":{"200":{"description":"OK"}},"parameters":[{"name":"fileId","in":"path","required":true,"description":"The ID of the file or shared drive.","schema":{"type":"string"}},{"name":"pageSize","in":"query","required":false,"description":"The maximum number of permissions to return. The service may return fewer than this value. If unspecified, at most 100 permissions will be returned for shared drives, and the entire list of permissions for non-shared drives. The maximum value is 100; values above 100 will be coerced to 100.","schema":{"type":"integer"}},{"name":"supportsTeamDrives","in":"query","required":false,"description":"Deprecated: Use `supportsAllDrives` instead.","schema":{"type":"boolean"}},{"name":"supportsAllDrives","in":"query","required":false,"description":"Whether the requesting application supports both My Drives and shared drives.","schema":{"type":"boolean"}},{"name":"useDomainAdminAccess","in":"query","required":false,"description":"Issue the request as a domain administrator. If set to `true`, and if the following additional conditions are met, the requester is granted access: 1. The file ID parameter refers to a shared drive. 2. The requester is an administrator of the domain to which the shared drive belongs. For more information, see [Manage shared drives as domain administrators](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives#manage-administrators).","schema":{"type":"boolean"}},{"name":"includePermissionsForView","in":"query","required":false,"description":"Specifies which additional view's permissions to include in the response. Only `published` is supported.","schema":{"type":"string"}},{"name":"pageToken","in":"query","required":false,"description":"The token for continuing a previous list request on the next page. This should be set to the value of `nextPageToken` from the previous response.","schema":{"type":"string"}}]},"post":{"operationId":"drive.permissions.create","summary":"Creates a permission for a file or shared drive. For more information, see [Share files, folders, and drives](https://developers.google.com/workspace/drive/api/guides/manage-sharing). **Warning:** Con","responses":{"200":{"description":"OK"}},"parameters":[{"name":"sendNotificationEmail","in":"query","required":false,"description":"Whether to send a notification email when sharing to users or groups. This defaults to `true` for users and groups, and is not allowed for other requests. It must not be disabled for ownership transfers.","schema":{"type":"boolean"}},{"name":"transferOwnership","in":"query","required":false,"description":"Whether to transfer ownership to the specified user and downgrade the current owner to a writer. This parameter is required as an acknowledgement of the side effect. For more information, see [Transfer file ownership](https://developers.google.com/workspace/drive/api/guides/transfer-file).","schema":{"type":"boolean"}},{"name":"emailMessage","in":"query","required":false,"description":"A plain text custom message to include in the notification email.","schema":{"type":"string"}},{"name":"enforceSingleParent","in":"query","required":false,"description":"Deprecated: See `moveToNewOwnersRoot` for details.","schema":{"type":"boolean"}},{"name":"enforceExpansiveAccess","in":"query","required":false,"description":"Deprecated: All requests use the expansive access rules.","schema":{"type":"boolean"}},{"name":"moveToNewOwnersRoot","in":"query","required":false,"description":"This parameter only takes effect if the item isn't in a shared drive and the request is attempting to transfer the ownership of the item. If set to `true`, the item is moved to the new owner's My Drive root folder and all prior parents removed. If set to `false`, parents aren't changed.","schema":{"type":"boolean"}},{"name":"fileId","in":"path","required":true,"description":"The ID of the file or shared drive.","schema":{"type":"string"}},{"name":"useDomainAdminAccess","in":"query","required":false,"description":"Issue the request as a domain administrator. If set to `true`, and if the following additional conditions are met, the requester is granted access: 1. The file ID parameter refers to a shared drive. 2. The requester is an administrator of the domain to which the shared drive belongs. For more information, see [Manage shared drives as domain administrators](https://developers.google.com/workspace/drive/api/guides/manage-shareddrives#manage-administrators).","schema":{"type":"boolean"}},{"name":"supportsTeamDrives","in":"query","required":false,"description":"Deprecated: Use `supportsAllDrives` instead.","schema":{"type":"boolean"}},{"name":"supportsAllDrives","in":"query","required":false,"description":"Whether the requesting application supports both My Drives and shared drives.","schema":{"type":"boolean"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Permission"}}}}}}},"components":{"schemas":{"DownloadRestrictionsMetadata":{"type":"object","description":"Download restrictions applied to the file.","properties":{"itemDownloadRestriction":{"$ref":"#/components/schemas/DownloadRestriction"},"effectiveDownloadRestrictionWithContext":{"$ref":"#/components/schemas/DownloadRestriction"}}},"DriveList":{"type":"object","description":"A list of shared drives.","properties":{"kind":{"type":"string","description":"Identifies what kind of resource this is. Value: the fixed string `\"drive#driveList\"`.","default":"drive#driveList"},"nextPageToken":{"type":"string","description":"The page token for the next page of shared drives. This will be absent if the end of the list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results. The page token is typically valid for several hours. However, if new items are added or removed, your expected results might differ."},"drives":{"type":"array","description":"The list of shared drives. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.","items":{"$ref":"#/components/schemas/Drive"}}}},"DownloadRestriction":{"type":"object","description":"A restriction for copy and download of the file.","properties":{"restrictedForReaders":{"type":"boolean","description":"Whether download and copy is restricted for readers."},"restrictedForWriters":{"type":"boolean","description":"Whether download and copy is restricted for writers. If true, download is also restricted for readers."}}},"Approval":{"type":"object","description":"Metadata for an approval. An approval is a review or approve process for a Drive item.","properties":{"kind":{"type":"string","description":"This is always drive#approval."},"fileContentChangeBehavior":{"type":"string","description":"Output only. The behavior of the approval when the file content changes.","enum":["FILE_CONTENT_CHANGE_BEHAVIOR_UNSPECIFIED","RESET_APPROVAL","NO_APPROVAL_ACTION"]},"completeTime":{"type":"string","description":"Output only. The time the approval was completed.","format":"google-datetime"},"targetFileId":{"type":"string","description":"Target file id of the approval."},"reviewerResponses":{"type":"array","description":"The responses made on the approval by reviewers.","items":{"$ref":"#/components/schemas/ReviewerResponse"}},"createTime":{"type":"string","description":"Output only. The time the approval was created.","format":"google-datetime"},"approvalId":{"type":"string","description":"The approval ID."},"status":{"type":"string","description":"Output only. The status of the approval at the time this resource was requested.","enum":["STATUS_UNSPECIFIED","IN_PROGRESS","APPROVED","CANCELLED","DECLINED"]},"dueTime":{"type":"string","description":"The time that the approval is due.","format":"google-datetime"},"modifyTime":{"type":"string","description":"Output only. The most recent time the approval was modified.","format":"google-datetime"},"initiator":{"$ref":"#/components/schemas/User"}}},"AccessProposalRoleAndView":{"type":"object","description":"A wrapper for the role and view of an access proposal. For more information, see [Roles and permissions](https://developers.google.com/workspace/drive/api/guides/ref-roles).","properties":{"view":{"type":"string","description":"Indicates the view for this access proposal. Only populated for proposals that belong to a view. Only `published` is supported."},"role":{"type":"string","description":"The role that was proposed by the requester. The supported values are: * `writer` * `commenter` * `reader`"}}},"ResolveAccessProposalRequest":{"type":"object","description":"Request message for resolving an AccessProposal on a file.","properties":{"action":{"type":"string","description":"Required. The action to take on the access proposal.","enum":["ACTION_UNSPECIFIED","ACCEPT","DENY"]},"sendNotification":{"type":"boolean","description":"Optional. Whether to send an email to the requester when the access proposal is denied or accepted."},"role":{"type":"array","description":"Optional. The roles that the approver has allowed, if any. For more information, see [Roles and permissions](https://developers.google.com/workspace/drive/api/guides/ref-roles). Note: This field is required for the `ACCEPT` action.","items":{"type":"string"}},"view":{"type":"string","description":"Optional. Indicates the view for this access proposal. This should only be set when the proposal belongs to a view. Only `published` is supported."}}},"Comment":{"type":"object","description":"A comment on a file. Some resource methods (such as `comments.update`) require a `commentId`. Use the `comments.list` method to retrieve the ID for a comment in a file.","properties":{"replies":{"type":"array","description":"Output only. The full list of replies to the comment in chronological order.","items":{"$ref":"#/components/schemas/Reply"}},"createdTime":{"type":"string","description":"The time at which the comment was created (RFC 3339 date-time).","format":"date-time"},"author":{"$ref":"#/components/schemas/User"},"htmlContent":{"type":"string","description":"Output only. The content of the comment with HTML formatting."},"kind":{"type":"string","description":"Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#comment\"`.","default":"drive#comment"},"anchor":{"type":"string","description":"A region of the document represented as a JSON string. For details on defining anchor properties, refer to [Manage comments and replies](https://developers.google.com/workspace/drive/api/v3/manage-comments)."},"mentionedEmailAddresses":{"type":"array","description":"Output only. A list of email addresses for users mentioned in this comment. If no users are mentioned, the list is empty.","items":{"type":"string"}},"assigneeEmailAddress":{"type":"string","description":"Output only. The email address of the user assigned to this comment. If no user is assigned, the field is unset."},"resolved":{"type":"boolean","description":"Output only. Whether the comment has been resolved by one of its replies."},"modifiedTime":{"type":"string","description":"The last time the comment or any of its replies was modified (RFC 3339 date-time).","format":"date-time"},"deleted":{"type":"boolean","description":"Output only. Whether the comment has been deleted. A deleted comment has no content."},"quotedFileContent":{"type":"object","description":"The file content to which the comment refers, typically within the anchor region. For a text file, for example, this would be the text at the location of the comment.","properties":{"mimeType":{"type":"string","description":"The MIME type of the quoted content."},"value":{"type":"string","description":"The quoted content itself. This is interpreted as plain text if set through the API."}}},"id":{"type":"string","description":"Output only. The ID of the comment."},"content":{"type":"string","description":"The plain text content of the comment. This field is used for setting the content, while `htmlContent` should be displayed."}}},"DecryptionMetadata":{"type":"object","description":"Representation of the CSE DecryptionMetadata.","properties":{"keyFormat":{"type":"string","description":"Key format for the unwrapped key. Must be `tinkAesGcmKey`."},"kaclsName":{"type":"string","description":"The name of the KACLS (Key ACL Service) used to encrypt the file."},"jwt":{"type":"string","description":"The signed JSON Web Token (JWT) which can be used to authorize the requesting user with the Key ACL Service (KACLS). The JWT asserts that the requesting user has at least read permissions on the file."},"wrappedKey":{"type":"string","description":"The URL-safe Base64 encoded wrapped key used to encrypt the contents of the file."},"kaclsId":{"type":"string","description":"The ID of the KACLS (Key ACL Service) used to encrypt the file.","format":"int64"},"encryptionResourceKeyHash":{"type":"string","description":"The URL-safe Base64 encoded HMAC-SHA256 digest of the resource metadata with its DEK (Data Encryption Key); see https://developers.google.com/workspace/cse/reference"},"aes256GcmChunkSize":{"type":"string","description":"Chunk size used if content was encrypted with the AES 256 GCM Cipher. Possible values are: - default - small "}}},"Channel":{"type":"object","description":"A notification channel used to watch for resource changes.","properties":{"type":{"type":"string","description":"The type of delivery mechanism used for this channel. Valid values are \"web_hook\" or \"webhook\"."},"expiration":{"type":"string","description":"Date and time of notification channel expiration, expressed as a Unix timestamp, in milliseconds. Optional.","format":"int64"},"resourceUri":{"type":"string","description":"A version-specific identifier for the watched resource."},"params":{"type":"object","description":"Additional parameters controlling delivery channel behavior. Optional.","additionalProperties":{"type":"string"}},"kind":{"type":"string","description":"Identifies this as a notification channel used to watch for changes to a resource, which is `api#channel`.","default":"api#channel"},"payload":{"type":"boolean","description":"A Boolean value to indicate whether payload is wanted. Optional."},"resourceId":{"type":"string","description":"An opaque ID that identifies the resource being watched on this channel. Stable across different API versions."},"address":{"type":"string","description":"The address where notifications are delivered for this channel."},"id":{"type":"string","description":"A UUID or similar unique string that identifies this channel."},"token":{"type":"string","description":"An arbitrary string delivered to the target address with each notification delivered over this channel. Optional."}}},"FileList":{"type":"object","description":"A list of files.","properties":{"nextPageToken":{"type":"string","description":"The page token for the next page of files. This will be absent if the end of the files list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results. The page token is typically valid for several hours. However, if new items are added or removed, your expected results might differ."},"kind":{"type":"string","description":"Identifies what kind of resource this is. Value: the fixed string `\"drive#fileList\"`.","default":"drive#fileList"},"incompleteSearch":{"type":"boolean","description":"Whether the search process was incomplete. If true, then some search results might be missing, since all documents were not searched. This can occur when searching multiple drives with the `allDrives` corpora, but all corpora couldn't be searched. When this happens, it's suggested that clients narrow their query by choosing a different corpus such as `user` or `drive`."},"files":{"type":"array","description":"The list of files. If `nextPageToken` is populated, then this list may be incomplete and an additional page of results should be fetched.","items":{"$ref":"#/components/schemas/File"}}}},"GeneratedIds":{"type":"object","description":"A list of generated file IDs which can be provided in create requests.","properties":{"kind":{"type":"string","description":"Identifies what kind of resource this is. Value: the fixed string `\"drive#generatedIds\"`.","default":"drive#generatedIds"},"ids":{"type":"array","description":"The IDs generated for the requesting user in the specified space.","items":{"type":"string"}},"space":{"type":"string","description":"The type of file that can be created with these IDs."}}},"ReplaceReviewer":{"type":"object","description":"Representation of a reviewer replacement.","properties":{"addedReviewerEmail":{"type":"string","description":"Required. The email of the reviewer to add."},"removedReviewerEmail":{"type":"string","description":"Required. The email of the reviewer to remove."}}},"Status":{"type":"object","description":"The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors).","properties":{"code":{"type":"integer","description":"The status code, which should be an enum value of google.rpc.Code.","format":"int32"},"details":{"type":"array","description":"A list of messages that carry the error details. There is a common set of message types for APIs to use.","items":{"type":"object","additionalProperties":{"type":"any","description":"Properties of the object. Contains field @type with type URL."}}},"message":{"type":"string","description":"A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client."}}},"PermissionList":{"type":"object","description":"A list of permissions for a file.","properties":{"nextPageToken":{"type":"string","description":"The page token for the next page of permissions. This field will be absent if the end of the permissions list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results. The page token is typically valid for several hours. However, if new items are added or removed, your expected results might differ."},"kind":{"type":"string","description":"Identifies what kind of resource this is. Value: the fixed string `\"drive#permissionList\"`.","default":"drive#permissionList"},"permissions":{"type":"array","description":"The list of permissions. If `nextPageToken` is populated, then this list may be incomplete and an additional page of results should be fetched.","items":{"$ref":"#/components/schemas/Permission"}}}},"Drive":{"type":"object","description":"Representation of a shared drive. Some resource methods (such as `drives.update`) require a `driveId`. Use the `drives.list` method to retrieve the ID for a shared drive.","properties":{"name":{"type":"string","description":"The name of this shared drive."},"themeId":{"type":"string","description":"The ID of the theme from which the background image and color will be set. The set of possible `driveThemes` can be retrieved from a `drive.about.get` response. When not specified on a `drive.drives.create` request, a random theme is chosen from which the background image and color are set. This is a write-only field; it can only be set on requests that don't set `colorRgb` or `backgroundImageFile`."},"backgroundImageFile":{"type":"object","description":"An image file and cropping parameters from which a background image for this shared drive is set. This is a write only field; it can only be set on `drive.drives.update` requests that don't set `themeId`. When specified, all fields of the `backgroundImageFile` must be set.","properties":{"xCoordinate":{"type":"number","description":"The X coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the horizontal distance from the left side of the entire image to the left side of the cropping area divided by the width of the entire image.","format":"float"},"yCoordinate":{"type":"number","description":"The Y coordinate of the upper left corner of the cropping area in the background image. This is a value in the closed range of 0 to 1. This value represents the vertical distance from the top side of the entire image to the top side of the cropping area divided by the height of the entire image.","format":"float"},"width":{"type":"number","description":"The width of the cropped image in the closed range of 0 to 1. This value represents the width of the cropped image divided by the width of the entire image. The height is computed by applying a width to height aspect ratio of 80 to 9. The resulting image must be at least 1280 pixels wide and 144 pixels high.","format":"float"},"id":{"type":"string","description":"The ID of an image file in Google Drive to use for the background image."}}},"restrictions":{"type":"object","description":"A set of restrictions that apply to this shared drive or items inside this shared drive. Note that restrictions can't be set when creating a shared drive. To add a restriction, first create a shared drive and then use `drives.update` to add restrictions.","properties":{"driveMembersOnly":{"type":"boolean","description":"Whether access to items inside this shared drive is restricted to its members."},"copyRequiresWriterPermission":{"type":"boolean","description":"Whether the options to copy, print, or download files inside this shared drive, should be disabled for readers and commenters. When this restriction is set to `true`, it will override the similarly named field to `true` for any file inside this shared drive."},"domainUsersOnly":{"type":"boolean","description":"Whether access to this shared drive and items inside this shared drive is restricted to users of the domain to which this shared drive belongs. This restriction may be overridden by other sharing policies controlled outside of this shared drive."},"adminManagedRestrictions":{"type":"boolean","description":"Whether administrative privileges on this shared drive are required to modify restrictions."},"sharingFoldersRequiresOrganizerPermission":{"type":"boolean","description":"If true, only users with the organizer role can share folders. If false, users with either the organizer role or the file organizer role can share folders."},"downloadRestriction":{"$ref":"#/components/schemas/DownloadRestriction"}}},"capabilities":{"type":"object","description":"Output only. Capabilities the current user has on this shared drive.","properties":{"canDeleteDrive":{"type":"boolean","description":"Output only. Whether the current user can delete this shared drive. Attempting to delete the shared drive may still fail if there are untrashed items inside the shared drive."},"canListChildren":{"type":"boolean","description":"Output only. Whether the current user can list the children of folders in this shared drive."},"canChangeSharingFoldersRequiresOrganizerPermissionRestriction":{"type":"boolean","description":"Output only. Whether the current user can change the `sharingFoldersRequiresOrganizerPermission` restriction of this shared drive."},"canChangeDownloadRestriction":{"type":"boolean","description":"Output only. Whether the current user can change organizer-applied download restrictions of this shared drive."},"canDeleteChildren":{"type":"boolean","description":"Output only. Whether the current user can delete children from folders in this shared drive."},"canChangeCopyRequiresWriterPermissionRestriction":{"type":"boolean","description":"Output only. Whether the current user can change the `copyRequiresWriterPermission` restriction of this shared drive."},"canRename":{"type":"boolean","description":"Output only. Whether the current user can rename files or folders in this shared drive."},"canDownload":{"type":"boolean","description":"Output only. Whether the current user can download files in this shared drive."},"canManageMembers":{"type":"boolean","description":"Output only. Whether the current user can add members to this shared drive or remove them or change their role."},"canChangeDriveBackground":{"type":"boolean","description":"Output only. Whether the current user can change the background of this shared drive."},"canChangeDriveMembersOnlyRestriction":{"type":"boolean","description":"Output only. Whether the current user can change the `driveMembersOnly` restriction of this shared drive."},"canTrashChildren":{"type":"boolean","description":"Output only. Whether the current user can trash children from folders in this shared drive."},"canShare":{"type":"boolean","description":"Output only. Whether the current user can share files or folders in this shared drive."},"canChangeDomainUsersOnlyRestriction":{"type":"boolean","description":"Output only. Whether the current user can change the `domainUsersOnly` restriction of this shared drive."},"canResetDriveRestrictions":{"type":"boolean","description":"Output only. Whether the current user can reset the shared drive restrictions to defaults."},"canAddChildren":{"type":"boolean","description":"Output only. Whether the current user can add children to folders in this shared drive."},"canComment":{"type":"boolean","description":"Output only. Whether the current user can comment on files in this shared drive."},"canRenameDrive":{"type":"boolean","description":"Output only. Whether the current user can rename this shared drive."},"canEdit":{"type":"boolean","description":"Output only. Whether the current user can edit files in this shared drive"},"canReadRevisions":{"type":"boolean","description":"Output only. Whether the current user can read the revisions resource of files in this shared drive."},"canCopy":{"type":"boolean","description":"Output only. Whether the current user can copy files in this shared drive."}}},"createdTime":{"type":"string","description":"The time at which the shared drive was created (RFC 3339 date-time).","format":"date-time"},"orgUnitId":{"type":"string","description":"Output only. The organizational unit of this shared drive. This field is only populated on `drives.list` responses when the `useDomainAdminAccess` parameter is set to `true`."},"kind":{"type":"string","description":"Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#drive\"`.","default":"drive#drive"},"hidden":{"type":"boolean","description":"Whether the shared drive is hidden from default view."},"colorRgb":{"type":"string","description":"The color of this shared drive as an RGB hex string. It can only be set on a `drive.drives.update` request that does not set `themeId`."},"id":{"type":"string","description":"Output only. The ID of this shared drive which is also the ID of the top level folder of this shared drive."},"backgroundImageLink":{"type":"string","description":"Output only. A short-lived link to this shared drive's background image."}}},"LabelFieldModification":{"type":"object","description":"A modification to a label's field.","properties":{"setDateValues":{"type":"array","description":"Replaces the value of a dateString Field with these new values. The string must be in the RFC 3339 full-date format: YYYY-MM-DD.","items":{"type":"string","format":"date"}},"fieldId":{"type":"string","description":"The ID of the field to be modified."},"kind":{"type":"string","description":"This is always `\"drive#labelFieldModification\"`."},"setSelectionValues":{"type":"array","description":"Replaces a `selection` field with these new values.","items":{"type":"string"}},"setUserValues":{"type":"array","description":"Replaces a `user` field with these new values. The values must be a valid email addresses.","items":{"type":"string"}},"unsetValues":{"type":"boolean","description":"Unsets the values for this field."},"setIntegerValues":{"type":"array","description":"Replaces the value of an `integer` field with these new values.","items":{"type":"string","format":"int64"}},"setTextValues":{"type":"array","description":"Sets the value of a `text` field.","items":{"type":"string"}}}},"AddReviewer":{"type":"object","description":"Representation of a reviewer addition.","properties":{"addedReviewerEmail":{"type":"string","description":"Required. The email of the reviewer to add."}}},"TeamDriveList":{"type":"object","description":"A list of Team Drives.","properties":{"nextPageToken":{"type":"string","description":"The page token for the next page of Team Drives. This will be absent if the end of the Team Drives list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results. The page token is typically valid for several hours. However, if new items are added or removed, your expected results might differ."},"kind":{"type":"string","description":"Identifies what kind of resource this is. Value: the fixed string `\"drive#teamDriveList\"`.","default":"drive#teamDriveList"},"teamDrives":{"type":"array","description":"The list of Team Drives. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.","items":{"$ref":"#/components/schemas/TeamDrive"}}}},"AccessProposal":{"type":"object","description":"Manage outstanding access proposals on a file.","properties":{"proposalId":{"type":"string","description":"The ID of the access proposal."},"createTime":{"type":"string","description":"The creation time.","format":"google-datetime"},"rolesAndViews":{"type":"array","description":"A wrapper for the role and view of an access proposal. For more information, see [Roles and permissions](https://developers.google.com/workspace/drive/api/guides/ref-roles).","items":{"$ref":"#/components/schemas/AccessProposalRoleAndView"}},"recipientEmailAddress":{"type":"string","description":"The email address of the user that will receive permissions, if accepted."},"fileId":{"type":"string","description":"The file ID that the proposal for access is on."},"requesterEmailAddress":{"type":"string","description":"The email address of the requesting user."},"requestMessage":{"type":"string","description":"The message that the requester added to the proposal."}}},"GenerateCseTokenResponse":{"type":"object","description":"JWT and associated metadata used to generate CSE files.","properties":{"currentKaclsName":{"type":"string","description":"Name of the KACLs that the returned KACLs ID points to."},"kind":{"type":"string","description":"Output only. Identifies what kind of resource this is. Value: the fixed string `\"drive#generateCseTokenResponse\"`."},"fileId":{"type":"string","description":"The fileId for which the JWT was generated."},"currentKaclsId":{"type":"string","description":"The current Key ACL Service (KACLS) ID associated with the JWT.","format":"int64"},"jwt":{"type":"string","description":"The signed JSON Web Token (JWT) for the file."}}},"ChangeList":{"type":"object","description":"A list of changes for a user.","properties":{"nextPageToken":{"type":"string","description":"The page token for the next page of changes. This will be absent if the end of the changes list has been reached. The page token doesn't expire."},"kind":{"type":"string","description":"Identifies what kind of resource this is. Value: the fixed string `\"drive#changeList\"`.","default":"drive#changeList"},"newStartPageToken":{"type":"string","description":"The starting page token for future changes. This will be present only if the end of the current changes list has been reached. The page token doesn't expire."},"changes":{"type":"array","description":"The list of changes. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.","items":{"$ref":"#/components/schemas/Change"}}}},"RevisionList":{"type":"object","description":"A list of revisions of a file.","properties":{"nextPageToken":{"type":"string","description":"The page token for the next page of revisions. This will be absent if the end of the revisions list has been reached. If the token is rejected for any reason, it should be discarded, and pagination should be restarted from the first page of results. The page token is typically valid for several hours. However, if new items are added or removed, your expected results might differ."},"kind":{"type":"string","description":"Identifies what kind of resource this is. Value: the fixed string `\"drive#revisionList\"`.","default":"drive#revisionList"},"revisions":{"type":"array","description":"The list of revisions. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.","items":{"$ref":"#/components/schemas/Revision"}}}},"AppList":{"type":"object","description":"A list of third-party applications which the user has installed or given access to Google Drive.","properties":{"defaultAppIds":{"type
[...]
