openapi: "3.0.3"
info:
  title: Cloudflare API
  version: "1.0.0"
  description: Curated Fabricate subset of Cloudflare's official OpenAPI (https://raw.githubusercontent.com/cloudflare/api-schemas/main/openapi.json).
servers:
  - url: https://api.cloudflare.com
security:
  - bearerAuth: []
paths:
  /client/v4/zones:
    get:
      operationId: listZones
      summary: List zones
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
    post:
      operationId: createZone
      summary: Create a zone
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "201":
          description: Created
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /client/v4/zones/{zone_id}:
    get:
      operationId: getZone
      summary: Get a zone
      parameters:
        - name: zone_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "404":
          description: Not found
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
