openapi: "3.0.3"
info:
  title: OpenAI API
  version: "1.0.0"
  description: Curated Fabricate subset of OpenAI's official OpenAPI (https://app.stainless.com/api/spec/documented/openai/openapi.documented.yml).
servers:
  - url: https://api.openai.com
security:
  - bearerAuth: []
paths:
  /v1/responses:
    get:
      operationId: listResponses
      summary: List responses
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
    post:
      operationId: createResponse
      summary: Create a response
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "201":
          description: Created
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /v1/responses/{response_id}:
    get:
      operationId: getResponse
      summary: Retrieve a response
      parameters:
        - name: response_id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "404":
          description: Not found
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
