openapi: "3.0.3"
info:
  title: Stripe API
  version: "1.0.0"
  description: Curated Fabricate subset of Stripe's official OpenAPI (https://github.com/stripe/openapi).
servers:
  - url: https://api.stripe.com
security:
  - bearerAuth: []
paths:
  /v1/customers:
    get:
      operationId: GetCustomers
      summary: List customers
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
    post:
      operationId: PostCustomers
      summary: Create a customer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "201":
          description: Created
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
  /v1/customers/{customer}:
    get:
      operationId: GetCustomersCustomer
      summary: Retrieve a customer
      parameters:
        - name: customer
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "404":
          description: Not found
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
