openapi: "3.0.3"
info:
  title: Vercel API
  version: "0.0.1"
  description: Curated Fabricate subset of Vercel's official OpenAPI (https://openapi.vercel.sh).
servers:
  - url: https://api.vercel.com
security:
  - bearerToken: []
paths:
  /v10/projects:
    get:
      operationId: getProjects
      summary: Retrieve a list of projects
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
      responses:
        "200":
          description: List of projects
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectList"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v9/projects/{idOrName}:
    get:
      operationId: getProject
      summary: Find a project by id or name
      parameters:
        - name: idOrName
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Project
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "404":
          description: Not found
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
  /v11/projects:
    post:
      operationId: createProject
      summary: Create a new project
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
              properties:
                name:
                  type: string
      responses:
        "200":
          description: Created project
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
components:
  securitySchemes:
    bearerToken:
      type: http
      scheme: bearer
  schemas:
    Project:
      type: object
      additionalProperties: true
      properties:
        id:
          type: string
        name:
          type: string
        accountId:
          type: string
        createdAt:
          type: integer
        updatedAt:
          type: integer
        framework:
          type: string
          nullable: true
    ProjectList:
      type: object
      additionalProperties: true
      properties:
        projects:
          type: array
          items:
            $ref: "#/components/schemas/Project"
        pagination:
          type: object
          additionalProperties: true
    Error:
      type: object
      additionalProperties: true
      properties:
        error:
          type: object
          additionalProperties: true
